<style>
     #monday {
            font-weight: normal;
            text-align: center;
            width: 80%;
            display: block;
            margin: 0 auto;
     }
</style>

<div class="wrapper">

        <div class="pure-g">
          <div class="pure-u-1">
              <div id="app-icon">
                <img style="margin-top:40px;" src="/images/logo-large.png"  alt="">
              </div>
              <div id="monday" style="margin-bottom: 60px;">
                <h1><%= text[:exclaim] %></h1>
                <h2 style="font-weight: normal;"><%= text[:info] %></h2>
              </div>

             
          </div>
        </div> <%# end pure-g %>



</div> <%# wrapper %>