<div class="sidebar">
  <div class="sidebar-heading">
    <h3>Ways to invite people</h3>
  </div>
  <nav class="tabs">
    <ul>
      <li id="easel">
        <a>
          <div class="sidebar-item">
            
           <img src="https://st-webpage.s3.amazonaws.com/assets/class-icon.png" alt="printer">
       <span>In-person guide </span>
          </div>
        </a>
         
      </li>

      <li id="envelope" class="active">
        <a>
          <div class="sidebar-item">
            <img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="printer">


              <span>Invite by phone</span>
          </div>
        </a>
      </li>
      <li id="printer">
        <a>
          <div class="sidebar-item">
            <img src="https://s3.amazonaws.com/st-webpage/assets/printer-icon.png" alt="printer">
            <span>Printable flyer</span>
            
          </div>
        </a>

      </li>

      <li id="spreadsheet" class="">
        <a>
          <div class="sidebar-item">
            <img src="https://s3.amazonaws.com/st-webpage/assets/excel-icon.png" alt="printer">

            <span>Add spreadsheet</span>
            
          </div>
        </a>
      </li>

    </ul>
  </nav>
</div>

<!-- end sidebar -->