  <!-- Invite teachers Modal -->
  <div class="modal fade" id="congratsModal" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Congrats!</h1>
          <img class="apple" src="/images/schoolhouse-icon.png" alt="" style="width: 150px; margin-right: -12px;">
          <h2>You're on the waitlist for StoryTime!</h2>
          <h2>We'll email you soon with instructions on how to start.</h2>
          <button type="button" style="display: block; text-align: center; margin: 1em auto;" id="top-button" class="pure-button btn btn-primary btn-lg outline navbar-menu signup-button" data-dismiss="modal">
                  Okay!
          </button>
        </div>
      </div>
    </div>
  </div> <%# end invite teachers modal %>