      <!-- Modal Signup -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h2 class="modal-signup-heading" style="margin-bottom: 0em;">Log in</h2>
              <form id="teacher-info" action='signin' method="post"> 
                <div class="signup-setup">
                  <div class="field" id="signup-field">
                     <label class="label">Email address or phone number</label>
                    <input name="contact_id" placeholder="Email address or phone number" class="input" required>
                      <label class="label">Password</label>
                    <input name="password" type="password" placeholder="password" class="input" required>
                    </div>
                    <!-- <button id="join" data-dismiss='modal' data-toggle='modal' data-target="#modalSig"  class="signup-form-button pure-button pure-button-prry get_update dialog-button">Log in</button> -->

                    <button id="join" type="submit" class="signature-modal signup-form-button pure-button pure-button-primary get_update dialog-button">Continue</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- end Modal Signup-->