      <!-- Modal Signup -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="navbar-logo" id="modal-logo"></div>
            </div>
            <div class="modal-body">
              <h2 class="modal-signup-heading" style="margin-bottom: 0em;">Sign in</h2>
              <h3 class="modal-signup-heading">to add your class</h3>

              <form id="teacher-info" action='signin' method="post"> 
                <div class="signup-setup">
                  <div class="field" id="signup-field">
                     <label class="label">Email</label>
                    <input name="email" placeholder="sarah.jones@ymca.org" class="input" required>
                      <label class="label">Password</label>
                    <input name="password" type="password" placeholder="password" class="input" required>
                    </div>
                    <!-- <button id="join" data-dismiss='modal' data-toggle='modal' data-target="#modalSig"  class="signup-form-button pure-button pure-button-prry get_update dialog-button">Log in</button> -->

                    <button id="join" type="submit" class="signature-modal signup-form-button pure-button pure-button-primary get_update dialog-button">Continue</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- end Modal Signup-->