<div class="modal fade" id="what-parents-do" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What can parents do?</h4>
      </div>
      <div class="modal-body">
        <p id="shot-title">Get books from you and reply</p>
        <img class="modal-screenshot" src="https://s3.amazonaws.com/st-webpage/assets/shot-1.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary next-button modal-btn">Next</button>
        <button type="button" data-dismiss="modal" style="display:none;" class="btn btn-primary done-button modal-btn">Done</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
