 <%= erb :'dashboard/modals/what-parents-do' %>

  <div class="class-empty">
      <div class="class-empty-content">
        <img src="https://s3.amazonaws.com/st-webpage/assets/characters.svg" class="title-header-img">
        <h1 class="heading">Storytime is better with families.</h1>
        <div class="sub-heading-text">Your class feels a bit lonely. Why not add some families?</div>
        <div class="sub-heading-text-mobile">Log in from a desktop computer to start adding families!</div>

        <button type="button" id="get-help" class="btn btn-primary btn-lg outline navbar-menu add-people-button-class-empty" data-toggle="modal" data-target="#myModal">
                  Add people
        </button>
        <h2 class="heading why-parents" data-toggle="modal" data-target="#what-parents-do">What can parents do?</h2>

      </div>
  </div>
