    <!-- Modal TeacherName -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
<div class="modal fade" id="modalSig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="navbar-logo" id="modal-logo"></div>
      </div>
      <div class="modal-body">
        <h2 class="modal-signup-heading name-heading">What do parents call you?</h2>

         <form id='login' action='auth/signin' method="post"> 
        <!-- <form id='login'> -->
          <div class="signup-setup">
            <div class="field" id="signup-field">
               <label class="label">Your preferred name</label>
              <input name="signature" placeholder="Ms. Jones" class="input" required>
              </div>
              <button id="join" class="signup-form-button pure-button pure-button-primary get_update dialog-button"> Continue</button>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Teachername-->