<title>StoryTime | Free Children's Books Online for Teachers</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<meta name="description" content="StoryTime is a free app that lets teachers send children's books to families on any phone. It is shown to build literacy and double reading at home.">


<meta property="og:image" content="https://www.joinstorytime.com/images/og-image-new.png" />
<meta property="og:title" content="StoryTime | Free Children's Books Online for Teachers">
<meta property="og:description" content="StoryTime is a free app that lets teachers send children's books to families on any phone. It is shown to build literacy and double reading at home.">

<script async type="text/javascript" src="/js/analytics.js"></script>