

<ul data-role="header" id="navbar-header">
  <li><a class="active" id="home" href="#home">StoryTime</a></li>

  <!-- <li><a href="#app" id="app">Get the app</a></li> -->
</ul>


<style>
ul#navbar-header {

    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 2em;
    /*background-color: #59567F;*/
    /*background: url('http://d2yudi7y1eei74.cloudfront.net/assets/new-logo/logo-no-circle.png');
    background-size: 70px 50px;
    background-position: left;
    background-repeat: no-repeat;*/
}

#navbar-header li #home {
  font-size: 19px;
  font-family: 'dk_cool_crayon'; 
  color: white;
}

#navbar-header li a#app {
    position: absolute;
    top: 0px;
    right: 0px;
}

#navbar-header li {
  display: inline-block;
}

#navbar-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar-header li a:hover {
    /*background-color: #111;*/
}
</style>