

<ul>
  <li><a class="active" id="home" href="#home">Home</a></li>

  <li><a href="#app" id="app">Get the app</a></li>
</ul>


<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 2em;
    background-color: #ed7a44;
}

li #home {
    /*float: left;*/
}

li a#app {
    position: absolute;
    top: 0px;
    right: 0px;
}

li {
  display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>