<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoryTime - Your Class Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime lets early grade teachers send books by text message to their class's families. Made at Yale, it builds 1 year of literacy growth after just 14 weeks.">

    <meta property="og:image" content="https://st-webpage.s3.amazonaws.com/assets/redesign/st-og-image-pencil.png">
    <meta property="og:title" content="Storytime | Books by text.">
    <meta property="og:description" content="StoryTime lets early grade teachers send books by text message to their class's families. It builds 1 year of literacy growth after just 14 weeks.">



    <script async type="text/javascript" src="/js/analytics.js"></script>

<!-- start Mixpanel --><script async type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("358fa62873cd7120591bdc455b6098db");</script><!-- end Mixpanel -->

  
  <!-- Bootstrap modal files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/imports/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- end Boostrap -->

    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/alert.css" type="text/css" />
      
    <!-- This is only needed for below-the-fold content. -->
    <link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="/stylesheets/imports/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/imports/grids-responsive-min.css">

    <link rel="stylesheet" href="/stylesheets/admin_dashboard.css" type="text/css" />



<!--     <link rel="stylesheet" href="/stylesheets/main_new.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/enroll.css" type="text/css" />
 -->    <!-- Favicon and App icon images -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Load jQuery and  -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <link rel="stylesheet" href="/stylesheets/imports/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/imports/grids-responsive-min.css">

    <script>
      // hover effect for right arrow
      $(document).ready(function () {
        $('.the-whole-teacher-thing').mouseenter(function() {
          $('.right-arrow').animate({
            opacity: 1.0
          }, 200);
        });

        $('.the-whole-teacher-thing').mouseleave(function() {
          $('.right-arrow').animate({
            opacity: 0.3
          }, 200);
        });
      });

      $(document).ready(function() {
        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0 || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

        if (isSafari) {
          // $('.table-responsive').css('direction', 'ltr');
          document.styleSheets[0].addRule('.table-responsive::-webkit-scrollbar','width: 0');
          $('th.teacher-name').css('padding-left', '2em');
          $('th.teacher-name').next('th').css('padding-left', '2em');
          $('th.user-name').css('padding-left', '2em');

          // $('-webkit-scrollbar').css('width', '0 !important');
        }

      });
      
      $(document).ready(function () {
        $('#top-button.signup-button').click(function() {
          $.ajax({
            url: 'teacher/visited_page',
            type: 'get',
            dataType: 'text',
            success: function(data) {
            },
            error: function(xhr) {
              console.log(xhr);
            }
          })
        }); 
      });

      $(document).ready(function () {
        $('.the-whole-teacher-thing').first().css('display', 'block');
        $('.teacher-info:first-child').addClass('user-spotlight first-row');
        $('.teacher-info').slice(1).addClass('user-info-first-box');
        $('.user-info:first-child').addClass('user-spotlight first-row');
        $('.teacherModal').each(function(index, value) {
        
          $(this).find('.the-whole-user-thing').first().css('display', 'block');
          $(this).find('.user-info').slice(1).addClass('user-info-first-box');
        });

      });

      // clicking rows, selecting users and teachers
      $(document).ready(function () {
        // teachers
        $('.teacher-info').click(function(event) {
          $('.teacher-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');

          if ($(this).is(':first-child')) {
            $('.teacher-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $('.teacher-info').not(this).removeClass('user-info-first-box');
            $('.teacher-info:first-child').removeClass('first-row');
          }

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-teacher-thing'); 
          $('.the-whole-teacher-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          // $('.default-teacher-info').css('display', 'none');
        });

        // users
        $('.user-info').click(function(event) {
          var parent = $(this).parent();
          $(parent).find('.user-info').not(this).removeClass('user-spotlight');
          $(this).addClass('user-spotlight');

          if ($(this).is(':first-child')) {
            $(parent).find('.user-info').not(this).addClass('user-info-first-box');
            $(this).addClass('first-row');
          } else {
            $(parent).find('.user-info').not(this).removeClass('user-info-first-box');
            $(parent).find('.user-info:first-child').removeClass('first-row');
          }

          var id = $(this).attr('id');
          var infoBox = $('#' + id + '.the-whole-user-thing'); 
          // hide the other guys
          $(this).closest('.teacherModal').find('.the-whole-user-thing').not(infoBox).css('display', 'none');
          infoBox.css('display', 'block');
          // $('.default-user-info').css('display', 'none');
        });


        // get a border on the bottom of the left table panel
        var rows_height = $('.teacher-table').height();
        // check if this is greater than the height of the table, 27.5em
        var table_height = $('.teacher-table-responsive').height();

        var leftover_height;

        if (rows_height > table_height) {
          leftover_height = 0;
        } else {
          leftover_height = table_height - rows_height;
        }


        $('.leftover-space').css('height', leftover_height);

        $('.user-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')
        $('.teacher-info:last-child').css('border-bottom', 'solid rgb(210, 218, 224) 0.5px')

      });

      $(document).ready(function () {
        $('.tabs li').click(function() {
          var id = $(this).attr('id');
          var sidebar_options = ['easel', 'envelope', 'printer', 'spreadsheet']

          var arr = sidebar_options.filter(function(item) { 
              return item !== id;
          });


          for (var i = 0; i < arr.length; i++) {
              $('#main-' + arr[i]).css('display', 'none'); 
              $('#' + arr[i]).removeClass('active');
          }

          $(this).addClass('active');
          $('#main-' + id).css('display', 'block');

        });

      });



      // for going straight to teacher-invite
      $(document).ready(function () {
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var invite = getParameterByName('invite'); // "lorem"

        if (invite == '1') {
            // activate the invite portion
            $('#inviteTeachersModal').modal('toggle');
        }

      });


    </script>

</head>
<body id="bs-override">

  <!-- Notify about form submission -->
  <% if flash[:teacher_invite_success] %>
    <div id="alert">
        <a class="alert" href="#alert" style="padding: 0px;">Great! We'll send your teachers an invite to join StoryTime.</a>
    </div>
  <% end %>


  <% if school_users.nil? %>
    <%= erb :admin_dashboard_teachers, locals: {teachers: teachers} %>

  <% else %>
    <%= erb :admin_dashboard_users, locals: {school_users: school_users} %>

  <% end %>
  
</body>
</html>



















