<!DOCTYPE html>
<html>
		<title>StoryTime | Case Study</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/case_study.css" type="text/css">


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>
		<!-- Notify about form submission -->
	
			<nav class="navbar" role="navigation">
				<div class="container">
					<a href="/">
					<div class="navbar-logo">
					</div>
					</a>
					<ul class="navbar-right">
						<li><a href="team">people</a></li>
						<li><a href="case study">case study</a></li>
						<li><a href="https://docsend.com/view/nhzqgin" target="_blank">product</a></li>
						<li class="navbar-button-item">
							<a>
								<% if session['educator'].nil? %>
									<button id="top-button" class=" pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#myModal">
									Log in
									</button>
								<% else %>
									<form action="signup" method="get">									
										<button id="top-button" type="submit" class=" pure-button-primary pure-button signup-button">
											Log in
										</button>
									</form>
								<% end %>
							</a>
						</li>
					</ul>
				</div>
			</nav>





		<div class="navbar" id="fake-nav">
		</div>


		<br class="mobile_only">
		<div id="jobs">
								<img id="logo-new" src="/images/modules/logo.png">
								<h2 class="our_team">Rocky Mountain Prep</h2>
		</div>
		

<iframe width="560" height="315" src="https://www.youtube.com/embed/K2-3DoG_tEw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>			

				<p id="hiring-call">How Rocky Mountain Prep Charter Network got families reading and built literacy.</p> 

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>

				<h1 class="banner" id="call-to-action">Get more information about StoryTime.</h1>

<!-- 				<p id="hiring-call">We're hiring engineers, sales teams, school partners, and product people to close the 30-million word gap and change the odds for low-income children.</p> 

 -->							<div class="demo">

				              <a href="mailto:phil@joinstorytime.com">
					              <button type="button" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
					                Contact us
					              </button>
				              </a>
							</div>


			

			

	</body>
		<footer class="footer"> 
		<div class="footer--container  container---full"> 
			<nav class="footer--nav"> 
				<a class="footer--nav--link footer--nav--link---terms-privacy" href="/privacy">  
					Terms &amp; Privacy </a> <a class="footer--nav--link" href="https://docsend.com/view/nhzqgin" target="_blank">Learn More</a>
					<a class="footer--nav--link" target="_blank" href="../rayna">Watch Video</a>
					<a class="footer--nav--link" href="mailto:hello@joinstorytime.com" >Email Us</a>
					<a class="footer--nav--link" href="../team">Our Team</a>
					<a class="footer--nav--link" href="mailto:careers@joinstorytime.com">Careers</a>
					<a class="footer--nav--link" href="../privacy">Trust &amp; Safety</a>
					<a class="footer--nav--link" href="https://storytime.zendesk.com/hc/en-us" target="_blank">Support</a>
			</nav> 
		 </div> 
	

	</footer>


	<footer>
	</footer>
</html>