<!DOCTYPE html>
<html>
		<title>StoryTime | Case Study</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/case_study.css" type="text/css">


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>
		<!-- Notify about form submission -->
	
			<nav class="navbar" role="navigation">
				<div class="container">
					<a href="/">
					<div class="navbar-logo">
					</div>
					</a>
					<ul class="navbar-right">
						<li><a href="team">people</a></li>
						<li><a href="case study">case study</a></li>
						<li><a href="https://docsend.com/view/nhzqgin" target="_blank">product</a></li>
						<li class="navbar-button-item">
							<a>
								<% if session['educator'].nil? %>
									<button id="top-button" class=" pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#myModal">
									Log in
									</button>
								<% else %>
									<form action="signup" method="get">									
										<button id="top-button" type="submit" class=" pure-button-primary pure-button signup-button">
											Log in
										</button>
									</form>
								<% end %>
							</a>
						</li>
					</ul>
				</div>
			</nav>





		<div class="navbar" id="fake-nav">
		</div>


		<br class="mobile_only">
		<div id="jobs">
								<img id="logo-new" src="/images/modules/logo.png">
								<h2 class="our_team">Rocky Mountain Prep</h2>
		</div>
		

<script src="//fast.wistia.com/embed/medias/o1jnolxt2b.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_o1jnolxt2b videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>

				<p id="hiring-call">How Rocky Mountain Prep Charter Network got families reading and built literacy.</p> 

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>

<!-- David's shit -->

<section class="rmp-banner">
	<div class="pure-u-1">
		<img src="/images/case-study/rmp-logo.png" alt="">
		<div class="main-quote">
			<h1>"We can't expect families to read when they don't have the time or resources."</h1>
			<h2>Angelin Thompson</h2>
			<h2>Academic Director</h2>
		</div>
	</div>


	<div class="pure-u-2-3">
		<p>Rocky Mountain Prep works to get <b>every family reading at home.</b> School leaders and teachers focus on literacy as the early foundation for all grades to come.</p>

		<p><b>The challenge</b> school leaders faced was getting books to all families and knowing they actually read, without extra work for teachers.</p>

		<p><b>Today</b>, RMP gets families reading and building literacy through StoryTime books by text. That's shown:</p>

		<ul>
			<li><b>More reading:</b> 96% of families reading 3 times a week.</li>
			<li><b>Literacy impact:</b> improved phonological awareness, comprehension, and print knowledge.</li>
			<li><b>Engaged families:</b> most parents reporting significantly stronger relationships with teachers.</li>
		</ul>
		
	</div>
	
</section>


<section>
	<span>Part 1</span>
	<h2>The Challenge of Reading at Home.</h2>
</section>

<section>
	<div class="pure-u-1">
		<div class="main-quote">
			<h1>"By the time the day is done, and kids are fed, and baths are had, there's really just exhaustion. And no-one has time to read."</h1>
			<h2>Angelin Thompson</h2>
			<h2>Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-2-3">
		<p>Teachers, school leaders, and families at Rocky Mountain Prep saw many challenges to reading at home.</p>

		<p><i>Youku, RMP mother:</i>"Last year as a parent was really hard for me. I have to work from 6 to 6, and then when I get home I have to find books. And sometimes we don't get to those books."</p>

		<p><i>Angelin Thompson, Academic Director:</i>"When you're choosing between getting food on the table or paying your rent, books are not a necessity for most families that are struggling."</p>
	</div>
</section>

<section>
	<span>Part 2</span>
	<h2>Building Reading Habits, Easy.</h2>
</section>


<section>
	<div class="pure-u-1">
		<div class="main-quote">
			<h1>"It's just a no brainer. There's literally no lift on the teacher."</h1>
			<h2>Angelin Thompson</h2>
			<h2>Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-2-3">
		<p>Teachers and school leaders used StoryTime's books by text as an easier way to get families reading at home.</p>

		<h1>"They're books that I don't have to copy, I don't have to find, I don't have to send them home and worry about if they come back, I don't have to have a check-in check-out system."</h1>
			<h2>Angelin Thompson</h2>
			<h2>Academic Director</h2>

		<p><i>Youku, RMP mother:</i>"All you have to do is take your phone and tell your child to come and sit. You don't have to do too much. <b>Especially as a single parent at home, it's really helpful for me.</b>"</p>
	</div>
</section>

<section>
	<span>Part 3</span>
	<h2>The Results</h2>
</section>


<section>
	<div class="pure-u-1">
		<div class="main-quote">
			<h1>"That I've been able to offer our Pre-K something of this magnitude <b>makes my job a lot easier</b>, because then <b>I don't have to worry about remediation</b>."</h1>
			<h2>Angelin Thompson</h2>
			<h2>Academic Director</h2>
		</div>
	</div>

	<div class="pure-u-2-3">
		<p>Teachers and school leaders used StoryTime's books by text as an easier way to get families reading at home.</p>
	
		<p><i>Angelin Thompson, Academic Director:</i>"To give parents an opportunity to bond around literacy and to just be close with their kid-- it's just an amazing thing to be able to give that to families. You're actually touching lives. <i>It's everything that we hoped would happen.</i>"</p>
		

		<p><i>Youku, RMP mother:</i>"She laughs, she points at the pictures. She just talks and talks, and sometimes she'll read when I read to her. She's very happy, and that makes me happy."</p>
	</div>
</section>


<section>
	<h1>Key Results</h1>

	<div class="pure-u-1-3">
		<h3><span><img src="/images/case-study/check-mark.png" alt=""></span>More Reading</h3>
		<p>96% of RMP StoryTime families are reading <b>3 times a week</b></p>
	</div>
	<div class="pure-u-1-3">
		<h3><span><img src="/images/case-study/check-mark.png" alt=""></span>Increased Literacy</h3>
		<p><b>Increased</b> phonological awareness, comprehension, and print knowledge skills.</p>
	</div>
	<div class="pure-u-1-3">
		<h3><span><img src="/images/case-study/check-mark.png" alt=""></span>Engaged Families</h3>
		<p>Most families report stronger relationships and more support from their teacher.</p>
	</div>


</section>














<!-- David's shit END -->















				<h1 class="banner" id="call-to-action">Get more information about StoryTime.</h1>

<!-- 				<p id="hiring-call">We're hiring engineers, sales teams, school partners, and product people to close the 30-million word gap and change the odds for low-income children.</p> 

 -->							<div class="demo">

				              <a href="mailto:phil@joinstorytime.com">
					              <button type="button" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
					                Contact us
					              </button>
				              </a>
							</div>


			

			

	</body>
		<footer class="footer"> 
		<div class="footer--container  container---full"> 
			<nav class="footer--nav"> 
				<a class="footer--nav--link footer--nav--link---terms-privacy" href="/privacy">  
					Terms &amp; Privacy </a> <a class="footer--nav--link" href="https://docsend.com/view/nhzqgin" target="_blank">Learn More</a>
					<a class="footer--nav--link" target="_blank" href="../rayna">Watch Video</a>
					<a class="footer--nav--link" href="mailto:hello@joinstorytime.com" >Email Us</a>
					<a class="footer--nav--link" href="../team">Our Team</a>
					<a class="footer--nav--link" href="mailto:careers@joinstorytime.com">Careers</a>
					<a class="footer--nav--link" href="../privacy">Trust &amp; Safety</a>
					<a class="footer--nav--link" href="https://storytime.zendesk.com/hc/en-us" target="_blank">Support</a>
			</nav> 
		 </div> 
	

	</footer>


</html>