<!DOCTYPE html>
<html>
		<title>StoryTime - Invite Class</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>

		<!-- Load jQuery and  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
		
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

		<!-- The max number of students in a class -->
		<%@stud_count = 25%>


		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">



		<link rel="stylesheet" href="../stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="../stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="../stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="../stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="../stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="../stylesheets/enroll.css" type="text/css" />

		<link rel="stylesheet" href="../stylesheets/flyer.css" type="text/css" />


		<link rel="stylesheet" href="../stylesheets/pure-push-pull.css" type="text/css" />


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>

	<% @sample_names = ["Jane Doe", "Alice Smith", "John Doe", "Bob Johnson", "Art Vandelay"] %>
	<% @sample_phones = ["(555) 555-5555", "(444) 444-4444", "(333) 333-3333", "(222) 222-2222", "(888) 888-8888"] %>



	<body>
	


				<!-- start sidebar -->
		<div class="sidebar">
			<div class="sidebar-heading">
				<h3>Ways to invite people</h3>
			</div>
			<nav class="tabs">
				<ul>
					<li id="easel" >
						<img src="https://st-webpage.s3.amazonaws.com/assets/class-icon.png" alt="printer">


<!-- 						<img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
 -->						<a  href="/signup/in-person">In-person guide 
						</a>
					</li>

					<li id="envelope" >
						<img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="printer">


<!-- 						<img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="envelope">
 -->						<a  href="/signup">Invite by phone
						</a>
					</li>
					<li id="printer" class="active">
						<img src="https://s3.amazonaws.com/st-webpage/assets/printer-icon.png" alt="printer">

						<a href="/signup/flyer">Printable flyer
						</a>
					</li>

					<li id="spreadsheet">
            <img src="https://s3.amazonaws.com/st-webpage/assets/excel-icon.png" alt="printer">

            <a href="/signup/spreadsheet">Add spreadsheet
            </a>
          </li>

				</ul>
			</nav>
		</div>
		
		<!-- end sidebar -->

<!-- 
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="../">
					<div class="navbar-logo" id="enroll-logo">
					</div>
				</a>
			</div>
		</nav>

 -->


		<div class="main-box">

		<nav class="navbar" role="navigation">
			<div class="container" id="enroll-container">
				<a href="../">
					<div class="navbar-logo" id="enroll-logo">
					</div>
				</a>
				<ul class="navbar-right">
					<li><a href="https://storytime.zendesk.com" target="_blank" id="questions">Questions?</a></li>
				</ul>
			</div>
		</nav>

			<div id="logo-container">
				<div id="jobs">
					<h2 class="our_team enroll_header">Print out flyers.</h2>
				</div>
			</div>

					<header class="box-header">
						<h2 class="box-header-title">Print and send one home with each student.
						<h3 class="box-header-subtext">
							Then parents can just text to sign up.
						</h3>
					</header>

					<img class="flyer-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/sample-flyer.png">

					<button class="Button-ready"> <a href="https://st-materials.s3.amazonaws.com/StoryTime%20Invite%20Packet.pdf" target="_blank">Download PDF</a></button>					

		</div>



	

	</body>
</html>