<!DOCTYPE html>
<html>
		<title>StoryTime - Enroll Class</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>


		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">



		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/enroll.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/enroll_success.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>


	<!-- Notify about form submission -->
	<% if flash[:notice] %>
		<div id="alert">
		    <a class="alert" href="#alert">Great! Your class was successfully added.</a>
		</div>
	<% end %>




	<body>

		
        <div id="alert" class='submit-errors'>
		    <a class="alert" href="#alert">Please correct the following errors</a>
		</div>
	


				<!-- start sidebar -->
		<div class="sidebar enroll_suc">
			<div class="sidebar-heading">
				<h3>How to add people</h3>
			</div>
			<nav class="tabs">
				<ul>
					<li id="envelope" class="active">
						<img src="https://s3.amazonaws.com/st-webpage/assets/envelope-icon.png" alt="printer">
						<a  href="/signup">Enter phones
						</a>
					</li>
					<li id="printer">
						<img src="https://s3.amazonaws.com/st-webpage/assets/printer-icon.png" alt="printer">

						<a href="/signup/flyer">Info for parents
						</a>
					</li>

				</ul>
			</nav>
		</div>
		
		<!-- end sidebar -->

<!-- 
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="../">
					<div class="navbar-logo" id="enroll-logo">
					</div>
				</a>
			</div>
		</nav>

 -->


		<div class="main-box">
			<div id="logo-container">
				<div id="jobs">
					<img id="logo-new" src="/images/modules/logo.png">
<!-- 					<h2 class="our_team enroll_header">get your class free stories</h2>
 -->				</div>
			</div>
		
			<div class="pure-g enroll_success">
				<div class="my-container pure-u-1 pure-u-md-1-2">
					<div class="my-text enroll_success">
						<h2 class="enroll_success">Great!</h2>
						<h3>We’ll bring your class free stories.</h3>
						<p>And email you updates. For questions, <a class="enroll_success" href="mailto:phil@joinstorytime.com">get in touch.</a></p>  
					</div>

				</div>
				<img class="family-img pure-u-1 pure-u-md-1-2"src="https://s3.amazonaws.com/st-webpage/assets/family-background.png" alt="family-reading">
			</div>



		</div>


			

	

	</body>
</html>