<!DOCTYPE html>
<html>
	<head>
	
		<title>StoryTime - Join us</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without 	books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">

		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />



		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>
		<!-- Notify about form submission -->
		<% if flash[:notice] %>
			<div id="alert">
			    <a class="alert" href="#alert">Great! We'll keep you posted.</a>
			</div>
		<% end %>
	
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="../">
					<div class="navbar-logo">
					</div>
				</a>
			</div>
		</nav>
		<br class="mobile_only">
		<div id="jobs">
								<img id="logo-new" src="/images/modules/logo.png">
		</div>
		<div class="job_list">
			<h2><a href="../curriculum"> curriculum & product lead</a></h2>
			<h2><a href="../developer">developer</a></h2>
			<h2><a href="../pilots">director of pilots</a></h2>
		</div>

					<div class="divider-mini"><div></div></div>
			

			<h2 id="form">Know what we're up to.</h2>
			<form action="/get_updates_form_success" method="post"class="pure-form">
			    <fieldset>

			        <p><input name="email" type="email" placeholder="your email"></p>
					


			        <button type="submit" class="pure-button pure-button-primary job">get updates</button>
			    </fieldset>
			</form>

			

		
	</body>
</html>