<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
				<title>StoryTime</title>
	</head>


	<body>
		<div id="logo">
			<img src="images/StoryTimeLandingPageMockup.png">
		</div>


		<div id="date">
		<!-- <h4>info@joinstorytime.com</h4> -->

	</body>
</html>