<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

				<title>StoryTime</title>
	</head>

	<body>

		<div class="overlap">
			<div class="wrapper">

				<div class="main">
					<div class="column text">
						<div class="txt_inner">
						    <h2>Free stories by text message.</h2>
						    <p>For every family in the world.</p>
						    <a href="/learn-more"><button>Learn more!</button></a>
						</div>
					</div>
					
					<div class="column plane">
						<img id="airplane" src="/images/modules/airplane.png" alt="">
					</div>

					<div class="column bed">
						<img id="bedframe" src="/images/modules/bedframe.png" alt="">
			    	</div>
					
				</div>
			    
			</div>


			<div class="footer">
				<img id="grass" src="/images/modules/grass.png" alt="">
				<div class="partner-logos">

					<div class="logo left"><img src="/images/modules/ymca_logo.png" alt=""></div>
					<div class="logo center"><img src="/images/modules/headStart_logo.png" alt=""></div>
					<div class="logo right"><img src="/images/modules/yale_logo.png" alt=""></div>
				</div>

			</div>

		</div>


		<section class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/urU-a_FsS5Y" frameborder="0" allowfullscreen></iframe>
		</section>


		<div class="section-header">
			<h2>The problem</h2>
		</div>		
		<section class="the-problem pure-g"> 
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="text">
					<p>
						By age three, poorer kids have heard 30 million fewer words than wealthier kids— a word-gap that stunts early brain growth.
						 That makes them more likely to drop out of school, have an unstable family, and remain in poverty for the rest of their lives. They’re set up to fail before they even start preschool. 
					</p>
					<p>
						Books are the most effective way to get families talking, but low-income parents are tired and over-stressed. And 3 billion parents just don’t have access to any books or Internet. 
					</p>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<img src="/images/modules/sad-girl.png" alt="">
			</div>
			
		</section>

			
		<div class="section-header">
			<h2>The product</h2>
		</div>		
		<section class="the-product pure-g"> 

			<div class="phone pure-u-1 pure-u-md-1-2">
				<img src="/images/modules/phone.png" alt="">
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="text">
					<p>
						But 6 billion do have mobile phones. We send illustrated children’s stories by text message and messaging apps to get families talking face-to-face. 
					</p>
					<p>
						Still, many parents never had an adult who talked with them, or they don’t know that talking’s important. Our stories use colored prompts to help them start and build conversation habits that can overcome poverty’s damage. 
					</p>
					<p>
						And it’s 300x cheaper than just shipping paperbacks. 
					</p>
				</div>
			</div>
			
			
		</section>

		<div class="section-header">
			<h2>Where we're going</h2>
		</div>		

		<section class="progress"> 
			<p>
				From social impact awards and accelerators, we’ve won $45K in funding. We’ve also piloted with 3,000 families from our first customers: the US Head Start program and the YMCA. 

				And in our first pilots, StoryTime increased the number of families reading together nightly by 160%. 

				Next, we’re piloting with US government programs serving over 400K total families. And through our current customers alone, we can reach another 2.7 million kids.  

			</p>
			
		</section>


		<section class="join-us pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="v-align">
					<div class="text">
						<p>
							Still, there are over 1 billion parents without books or Internet. But they do have mobile phones.
						</p>
						<p>
							StoryTime’s the only reading platform that doesn’t require Internet and can reach them with technology they already have. 						
						</p>
						<p>
							We're recruiting. If you're passionate about technology, early literacy, or changing the world, here's our personal email.
						</p>


					</div>

				</div>
			</div>
			<div class="globe pure-u-1 pure-u-md-1-2">
				<img src="/images/modules/globe.gif" alt="">
			</div>

		</section>

		<div class=".wrapper">
			<div class="footer">
				<div class="bottom">
					<img id="grass" src="/images/modules/grass_fit.png" alt="">
				</div>
		
			</div>
		</div>

			

		

		

	</body>
</html>