<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css" />
		<title>StoryTime</title>
	</head>


	<body>
		<div id="logo">
			<h1>StoryTime</h1>
			<h3>Early literacy, by text</h3>
		</div>


		<div id="date">
			<h3>SUMMER 2015</h3>
		</div>
	</body>
</html>