<!DOCTYPE html>
<html>
	<head>
	
		<title>StoryTime - Free Stories by Text Message</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without 	books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">

		<script src="/js/smooth-scroll.min.js"></script>

		<script type="text/javascript" src="/js/analytics.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body>
			
	
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="/">
				<div class="navbar-logo">
				</div>
				</a>
				<ul class="navbar-right">
					<li><a href="team">people</a></li>
					<li> <a data-scroll href="#prob">problem</a></li>
					<li><a data-scroll href="#prod">product</a></li>
				</ul>
			</div>
		</nav>
		

		<div class="splash">
			<div class="container" id="splash">
				<div class="pure-g">	
					<div class="splash-text pure-u-1 pure-u-md-1-2">
						<img id="logo-new" src="/images/modules/logo.png">
						<h1 class="storytime-tagline">
						free stories <span>by text.</span>
						<br>
						for every family without books.
						</h1>

					</div>					
					<div class="animation pure-u-1 pure-u-md-1-4">
						<img src="/images/modules/phone_animated.gif" alt="">
					</div>
				</div>
			</div>
		</div>
	
				<div class="partner-logos">

					<div class="logo left"><img src="/images/modules/ymca_logo.png" alt=""></div>
					<div class="logo center"><img src="/images/modules/headStart_logo.png" alt=""></div>
					<div class="logo right"><img src="/images/modules/yale_logo.png" alt=""></div>
				</div>


		<h1 class="banner">we're closing the word-gap.</h1>


		<section class="video" >
			<iframe src="http://www.youtube.com/embed/sMAvF67CdUI" frameborder="0" allowfullscreen></iframe>
		</section>


		<div class="section-header">
			<h2 id="the_problem">the problem</h2>
		</div>		
		<section class="the-problem pure-g"> 

			<div class="girl pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
				<img src="/images/modules/sad-girl.png" alt="" id="padded-img">
			</div>


			<div class="pure-u-1 pure-pull-sm-1-2 pure-u-sm-1-2">
				<div class="text">
					<h2 id="prob">the problem</h2>
					<p>
						Low-income kids are set up to fail before they even start preschool. By age three, they’ve heard <span>30 million fewer words</span> than wealthier kids— a word-gap that stunts early brain growth. Books get families talking, but 1 billion families just don’t have access to any books or Internet. 
					</p>
				</div>
			</div>
			
		</section>
		
		<div class="divider"><div></div></div>
		<div class="divider" id="divider-mobile"><div></div></div>
	

			
		<div class="section-header">
			<h2>the product</h2>
		</div>		
		<section class="the-product pure-g"> 

			<div class="phone pure-u-1 pure-u-sm-1-2">
				<img src="/images/modules/phone.png" alt="">
			</div>
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="text">
					<h2 id="prod">the product</h2>
					<p>
						
						But 6 billion do have mobile phones. We send kid's stories by text message and messaging apps to get families talking face-to-face. It <span>significantly impacts</span> early literacy, as Stanford researchers have shown. And it’s <span>300x cheaper</span> than just shipping paperbacks.
					</p>
				</div>
			</div>
			
			
		</section>

		<div class="divider"><div></div></div>
		<div class="divider" id="divider-mobile"><div></div></div>

		<div class="section-header">
			<h2>the progress</h2>
		</div>		
		<section class="join-us pure-g">
			<div class="partners pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
					<img src="/images/modules/partners.png" alt="">
			</div>
			<div class="pure-u-1 pure-u-sm-1-2 pure-pull-sm-1-2">
				<div class="v-align">
					<div class="text">
						<h2>the progress</h2>
						<p>
				Now, we’re piloting with tens of thousands of families from across New York, Connecticut, Texas, and Florida. And with our first families, StoryTime more than <span>doubled nightly reading</span>.  
						</p>

					</div>

				</div>
			</div>

		</section>

		<div class="divider"><div></div></div>
		<div class="divider" id="divider-mobile"><div></div></div>

		
		<div class="section-header">
			<h2>the people</h2>
		</div>		
		<section class="the-product pure-g"> 

			<div class="prize pure-u-1 pure-u-sm-1-2">
				<img src="/images/modules/Thorne_Prize_Crayon_Border.png" alt="" id="padded-img">
			</div>
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="text">
					<h2 id="people">the people</h2>
					<p>
						
						We’re a Yale team of developers and former Head Start preschool teachers. We built StoryTime for our class’s families at Martinez Head Start. Now, we’re closing the word gap at scale. </p>
						<a id="more_team" href="team"><p>more about us</p></a>

				</div>
			</div>
			
			
		</section>

		<div class="divider"><div></div></div>
		<div class="divider" id="divider-mobile"><div></div></div>



		<section class="progress text"> 

			<span class="final"><h4>
				There are 1 billion families without books or Internet <span class="italic">only StoryTime can reach.</span>
			</h4>
			</span>
				

			<div class="globe pure-u-1">
				<img src="/images/modules/globe.png" alt="">
			</div>

			<a href="/join">
		        <button id="join" class="pure-button pure-button-primary get_update">join our team</button>
		    </a>

			<div class="email">
				<a id="more_team" href="mailto:phil@joinstorytime.com"><p>get in touch</p></a>
			</div>


		</section>


		

	</body>
	<footer>
		<script>
    	smoothScroll.init();
		</script>
	</footer>
</html>