<!DOCTYPE html>
<html>
<head>
  
    <title>StoryTime | Books by Text</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="StoryTime helps schools build literacy with books by text message for families. Made at Yale, it’s shown 1 year of literacy gains in just 3 months.">
<!--    <meta property="og:url" content="http://joinstorytime.com">
 -->
    <meta property="og:image" content="https://s3.amazonaws.com/st-webpage/assets/st-og-image-3.png">
    <meta property="og:title" content="StoryTime | Books by Text">
    <meta property="og:description" content="StoryTime helps schools build literacy with books by text message for families. And it’s shown 1 year of literacy gains in just 3 months.">

    <script type="text/javascript" src="/js/smooth-scroll.min.js"></script>

    <script type="text/javascript" src="/js/analytics.js"></script>

  
  <!-- Bootstrap modal files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

    <!-- end Boostrap -->

    <!-- Karla!!!! -->
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="../stylesheets/main_new.css" type="text/css" /> -->

    <link rel="stylesheet" href="../stylesheets/alert.css" type="text/css" />

    <!-- <link rel="stylesheet" href="../stylesheets/main.css" type="text/css" /> -->
      

    <link rel="stylesheet" href="../stylesheets/teacher-form-input.css" type="text/css" />

    <link rel="stylesheet" href="../stylesheets/maintenance.css" type="text/css">


    <link rel="stylesheet" href="../stylesheets/pure-push-pull.css" type="text/css" />

    <link rel="stylesheet" href="../stylesheets/fonts.css" type="text/css">
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!-- Favicon and App icon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Load jQuery and  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>

    <!-- our scripts -->
    <!-- <script type="text/javascript" src="/js/validations.js"></script> -->
    <!-- <script type="text/javascript" src="/js/appendform.js"></script> -->

    <script type="text/javascript"></script>

    <style>
      
    </style>

</head>

<body>
  <!-- navbar -->

  <div class="wrapper">
      <div class="body">

        <div class="container">
          <div class="pure-g">
            <div class="pure-u-1">
                <div id="app-icon">
                  <img src="/images/app-icon.png"  alt="">
                </div>
                <div style="margin-bottom: 60px;">
                  <h1>StoryTime</h1>
                  <h1><%= text[:header] %></h1>
                </div>

                <p><%= text[:return] %></p>
                <h1 style="line-height: 0em;"><%= text[:weekday] %></h1>
                <p><%= text[:date] %></p>
            </div>
          </div> <%# end pure-g %>

        </div>


      </div> <%# body class %>

  </div> <%# wrapper %>

    



</body>

























