<!DOCTYPE html>
<html>
	<head>
	
		<title>StoryTime - Books by Text</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Books by text to get every student reading. Increase reading by 160% with proven literacy impact.">
<!-- 		<meta property="og:url" content="http://joinstorytime.com">
 -->
 		<meta property="og:image" content="http://st-webpage.s3.amazonaws.com/assets/redesign/st-og-image-pencil.png">
		<meta property="og:title" content="Storytime - Books by text.">
		<meta property="og:description" content="StoryTime messages stories to families without books, increasing nightly reading by 160% with proven literacy impact. We help schools and districts increase school readiness.">

		<script async src="/js/smooth-scroll.min.js"></script>

		<script async type="text/javascript" src="/js/analytics.js"></script>
	
	<!-- Bootstrap modal files -->
		<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script async type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

		<!-- end Boostrap -->


		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />
			
		<!-- This is only needed for below-the-fold content. -->
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/teacher-form-input.css" type="text/css" />


		<link rel="stylesheet" href="stylesheets/main_new.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!-- Load jQuery and  -->
		<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script async src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
		<script async src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>


		<script> 


			(function($,W,D)
			{
			    var JQUERY4U = {};

			    JQUERY4U.UTIL =
			    {

			        setupFormValidation: function()
	        		{
						    // Setup form validation on the .table-input-body-row element
						    $("form#demo-form").each(function () {
						    	$(this).validate({

								    	  // Specify the validation rules
						        rules: {
										
							            teacher_email: {
							            	required: true,
      											email: true
							            },

							            demo_first_name: {
							            	required: true
							            },

							            demo_last_name: {
							            	required: true
							            }



						        },

						        messages: {

							            teacher_email: "Invalid email"								    

						        },

						         submitHandler: function(form) {
				            		form.submit();
				        		},

    invalidHandler: function(form, validator) {
      var errors = validator.numberOfInvalids();
      if (errors) {
        var message = errors == 1
          ? 'Please correct the following error:\n'
          : 'Please correct the following ' + errors + ' errors.\n';
        var errors = "";
        if (validator.errorList.length > 0) {
            for (x=0;x<validator.errorList.length;x++) {
                errors += "\n\u25CF " + validator.errorList[x].message;
            }
        }

        // $('.submit-errors').show()
        // $("html, body").animate({ scrollTop: 0 }, "slow");

        // alert(message + errors);
      }
      validator.focusInvalid();
    }


						    });

						   });

					}
				}


			    //when the dom has loaded setup form validation rules
			    $(D).ready(function($) {
			        JQUERY4U.UTIL.setupFormValidation();
			        // $('.Button-ready').hide()

			    });



			})(jQuery, window, document);


		</script>





	</head>

	<body>



	<!-- Notify about form submission -->
	<% if flash[:notice] %>
		<div id="alert">
		    <a class="alert" href="#alert">Great! Someone from our outreach team will be in touch soon.</a>
		</div>
	<% end %>

			<!-- Notify about form submission -->
	<% if flash[:signin_error] %>
		<div id="alert">
		    <a class="alert" href="#alert">Incorrect login information. Check with your administrator for the correct school code!</a>
		</div>
	<% end %>


			<nav class="navbar" role="navigation">
				<div class="container">
					<a href="/">
					<div class="navbar-logo">
					</div>
					</a>
					<ul class="navbar-right">
						<li><a href="team">people</a></li>
						<li><a href="http://st-materials.s3.amazonaws.com/About_StoryTime_Literacy.pdf" target="_blank">product</a></li>
						<li> <a href="https://storytime.zendesk.com">help</a></li>
						<li class="navbar-button-item">
							<a>
								<% if session['teacher'].nil? %>
									<button id="top-button" class=" pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#myModal">
									Log in
									</button>
								<% else %>
									<form action="signup" method="get">									
										<button id="top-button" type="submit" class=" pure-button-primary pure-button signup-button">
											Log in
										</button>
									</form>
								<% end %>
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Modal Signup -->
			<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			        <div class="navbar-logo" id="modal-logo"></div>
			      </div>
			      <div class="modal-body">
			        <h2 class="modal-signup-heading">Log in</h2>
			        <h3 class="modal-signup-heading">to add your class</h3>

			        <form id="teacher-info"> 
				      	<div class="signup-setup">
					        <div class="field" id="signup-field">
								     <label class="label">Email</label>
										<input name="email" placeholder="sarah.jones@ymca.org" class="input" required>
											<label class="label">Password</label>
										<input name="password" placeholder="your school passcode here" class="input" required>
										</div>
						        <button id="join" data-dismiss='modal' data-toggle='modal' data-target="#modalSig"  class="signup-form-button pure-button pure-button-primary get_update dialog-button">Log in</button>
						 		</div>
							</form>

			      </div>
			    </div>
			  </div>
			</div>
			<!-- end Modal Signup-->




					<!-- Modal TeacherName -->
			<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
			<div class="modal fade" id="modalSig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			        <div class="navbar-logo" id="modal-logo"></div>
			      </div>
			      <div class="modal-body">
			        <h2 class="modal-signup-heading">What do parents call you?</h2>
			        <h3 class="modal-signup-heading">Only your class can see your name on StoryTime.</h3>

			         <form id='login' action='signin' method="post"> 
			        <form id='login'>
				      	<div class="signup-setup">
					        <div class="field" id="signup-field">
								     <label class="label">What parents call you</label>
										<input name="signature" placeholder="Ms. Jones" class="input" required>
										</div>
						        <button id="join" class="signup-form-button pure-button pure-button-primary get_update dialog-button"> Continue</button>
							 </div>
							</form>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- end Modal Teachername-->

<!-- Modal Demo -->
<div class="modal fade" id="myDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="navbar-logo" id="modal-logo"></div>
      </div>
      <div class="modal-body">
        <h2 class="modal-signup-heading">See Storytime for yourself</h2>
	        <h3 class="demo-modal modal-subheading">Request a demo for your school or district.</h3>

    			<form class = "enroll-teacher-class" id="demo-form" action="demo_success" method="post">
				<div class="teacher-info-box">
					<div class="setup-signature">
					<div>
					</div>
						<div class="setup-signature-name">
							<label class="label">First Name
							</label>
							<div class="field demo-field">
								<input name="demo_first_name" class="input">
							</div>
						</div>
						<div class="setup-signature-name">
							<label class="label">Last Name
							</label>
							<div class="field demo-field">
								<input name="demo_last_name" class="input">
							</div>
						</div>

						<div class="setup-signature-email">
							<label class="label">Email
							</label>
							<div class="field demo-field">
								<input name="teacher_email" class="input">
							</div>
						</div>
					</div>
				</div>
    
	      	<div class="signup-setup">
			        <button id="join" class="demo-form-button pure-button pure-button-primary get_update dialog-button">Submit</button>
			</div>
			</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Demo-->




			<div class="splash">
				<div class="container" id="splash">
					<div class="pure-g">						
						<div class="splash-text hero-splash-text-container pure-u-1 pure-u-md-1-2 pure-push-md-1-2">
						
							<img id="logo-new" src="http://d2yudi7y1eei74.cloudfront.net/assets/logo.png">
							<h1 class="storytime-tagline" id="main-tagline">
							<span>Books by text.</span>
							</h1>
							<h1 id="sub-tagline" class="storytime-tagline">
							To get every student<br class="subheading-br"> reading.
							</h1>
			              <!-- Button trigger modal   -->

			              <a href="https://www.youtube.com/watch?v=fjwSdLfkPOg&feature=youtu.be" target="_blank">
				              <button type="button" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
				                Watch Video
				              </button>
			              </a>

			              <a href="http://st-materials.s3.amazonaws.com/About_StoryTime_Literacy.pdf" target="_blank">
				              <button type="button" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button inline-button-right" id="start-modal-button">
				                Learn More
				              </button>
			              </a>




			              <img class="contact-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/phone.png">
				          <a href="mailto:hello@joinstorytime.com?&subject=Storytime">   
				              <img id="email-image" class="contact-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/email.png">
			              </a>
						




								
						</div>	
						<!--End splash text  -->
						<div class="animation hero-animation-container pure-u-1 pure-u-md-1-2 pure-pull-md-1-2" id="hero-animation-container">
							<img id="background-phone" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/htc-one-blank-high.jpg">
							<img id="gif-animation" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/small-android.gif">

							<video  id="my-video" preload=auto autoplay loop muted>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/demo/latest-demo.webm" type='video/webm'>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/demo/latest-demo-compressed.mp4" type='video/mp4'>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/video-file-gumbo.ogv">
							</video>	

 						</div>   
 						<!-- End animation -->


					</div> 
					<!-- End pure-g -->
				</div>
				<!-- End container -->
			</div> 
			<!-- End Splash -->
			<h1 class="banner" id="main-banner">Double nightly reading.</h1>

			<br>
			<br>
			<br>
			<!-- Below the FOLD  -->
			<div class="container">
			
				<div class="section-header">
					<h2 id="the_problem">Grow readers.</h2>
				</div>		
				<section class="the-problem pure-g"> 

					<div class="girl pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
						<img class="girl_reading" src="http://st-webpage.s3.amazonaws.com/assets/redesign/girl_reading.jpg" alt="" id="padded-img">
					</div>


					<div class="pure-u-1 pure-pull-sm-1-2 pure-u-sm-1-2">
						<div class="text">
							<h2 id="prob">Grow readers.</h2>
							<p>
								StoryTime helps schools get families reading by using what 98%
								already have: phones that can text. With books by text, families have <span>doubled reading</span> on a proven curriculum. That helps some of the country’s top schools and districts improve reading outcomes, including <span>U.S. Head Start</span> and <span>U.S. Promise Neighborhoods</span>. 
							</p>
						</div>
					</div>
					
				</section>
				
				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>
			

					
				<div class="section-header">
					<h2>Build literacy.</h2>
				</div>		
				<section class="the-product pure-g"> 

					<div class="phone pure-u-1 pure-u-sm-1-2">
						<img class="curriculum_image" src="http://st-webpage.s3.amazonaws.com/assets/redesign/curriculum.png" alt="">
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<div class="text">
							<h2 id="prod">Build literacy.</h2>
							<p>

								StoryTime is designed by Yale psychologists from a curriculum proven to <span>increase early reading and language skills by 30%.</span> It's personalized for different reading levels and languages, while engaging even the busiest families in literacy. 

							</p>
						</div>
					</div>
					
					
				</section>

				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>

				<div class="section-header">
					<h2>See who reads.</h2>
				</div>		
				<section class="join-us pure-g">
					<div class="dash pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
							<img src="https://s3.amazonaws.com/st-webpage/assets/dash.png" alt="">
					</div>
					<div class="pure-u-1 pure-u-sm-1-2 pure-pull-sm-1-2">
						<div class="v-align">
							<div class="text">
								<h2>See who reads.</h2>
								<p class='dash'>
						With reading progress reports, schools and teachers no longer have to guess who's reading: they can see it. And StoryTime <span>only takes minutes</span>. Teachers just print out invites once, then send them home— that's all, ever. It's the easiest way to get students reading and improve reading outcomes.
								</p>

							</div>

						</div>
					</div>

				</section>


				<div class="divider"><div></div></div>
				<div class="divider" id="divider-mobile"><div></div></div>


				<h1 class="banner" id="call-to-action">Learn how Storytime can work for your school or district</h1>

							<div class="demo" data-toggle="modal" data-target="#myDemo">

				              <button type="button" class="demo-request-button btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button">
				                Request a Demo
				              </button>
							</div>


<!-- 							<div class="demo" data-toggle="modal" data-target="#myDemo">
							  <span class="glyphicon glyphicon-book my-glyph" aria-hidden="true"></span>
								<span class='try-it'>Try Demo</span>

							</div>
 -->


	              <img class="contact-image call-to-action-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/phone.png">
		          <a href="mailto:hello@joinstorytime.com?&subject=Storytime">   
		              <img id="email-image" class="contact-image call-to-action-image call-to-action-email-image" src="http://d2yudi7y1eei74.cloudfront.net/assets/email.png">
	              </a>

			</div>
	
	</body>
	<footer>
		<script>
			$( document ).ready(function() {
		    	smoothScroll.init();
					$('button.demo-form-button').click(function(){
					    $('form#demo-form').each(function(){
					        $(this).submit();
					    });
					});

					$('#login').on('submit', function(event) {
						// event.preventDefault();
						var teacherinfo = $("#teacher-info").serializeArray()
						console.log(teacherinfo);


						for (var i = 0; i < teacherinfo.length; i++) {
							console.log(teacherinfo[i])
							var input = $('<input>')
		               					.attr('type', 'hidden')
		               					.attr('name', teacherinfo[i]['name']).val(teacherinfo[i]['value']);
		          $('#login').append($(input));
						}

					});
			});

		</script>
	</footer>
</html>