<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>

		<!-- Pure CSS -->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

				<title>StoryTime</title>
	</head>


	<body>
		<div class="pure-g">
		    <div class="pure-u-1-1 pure-u-sm-1">
			    <h1>StoryTime</h1>
			    <h2>Free stories by text message.</h2>
			    <p>For every family in the world.</p>
			    <!-- <h1 class="pure-u-1-1 pure-u-sm-1"></h1> -->
		    </div>
		    <div class="pure-u-1-1 pure-u-sm-1">
				<img src="/images/modules/bedframe.png" alt="">

		    </div>
		    <div class="pure-u-1-1 pure-u-sm-1"> 
		    	<div class="grass"><img id="grass" src="/images/modules/grass.png" alt=""></div>
		    </div>
		</div>

	<!-- 	<div class="pure-g">
		    <div class="pure-u-lg-1-3"> text </div>
		    <div class="pure-u-sm-1"> text </div>
		    <div class="pure-u-sm-1"> text </div>
		</div>
 -->

		<!-- <a href="/learn-more"><img src="images/cloud.png" id="learn" alt=""></a> -->


	</body>
</html>