<!DOCTYPE html>
<html>
	<head>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74606651-1', 'auto');
  ga('send', 'pageview');

</script>
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

				<title>StoryTime</title>
	</head>

	<body>

		<div class="overlap">
			<img style="display:none" src="../images/modules/clouds_wide_with_birds_large.png">
			<div class="wrapper">


				<div class="main">
					<div class="column">
						
						<div class="catch_phrase">
							<h1>StoryTime</h1> 
							<h2>Free stories by text message.</h2>
						</div>
					</div>
				</div>


			    
			</div>


			<div class="footer">
				<img id="grass" src="/images/modules/grass.png" alt="">
				<div class="partner-logos">

					<div class="logo left"><img src="/images/modules/ymca_logo.png" alt=""></div>
					<div class="logo center"><img src="/images/modules/headStart_logo.png" alt=""></div>
					<div class="logo right"><img src="/images/modules/yale_logo.png" alt=""></div>
				</div>

			</div>

		</div>


		<section class="video" >
			<iframe src="http://www.youtube.com/embed/6xMbnGPXG-w" frameborder="0" allowfullscreen></iframe>
		</section>


		<div class="section-header">
			<h2>The problem</h2>
		</div>		
		<section class="the-problem pure-g"> 
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="text">
					<h2>The problem</h2>
					<p>
						Poorer kids are set up to fail before they even start preschool. By age three, they’ve heard <span>30 million fewer words</span> than wealthier kids— a word-gap that stunts early brain growth.
					</p>
					<p>
						Books get families talking, but 1 billion families just don’t have access to any books or Internet. 
					</p>
				</div>
			</div>
			<div class="girl pure-u-1 pure-u-sm-1-2">
				<img src="/images/modules/sad-girl.png" alt="">
			</div>
			
		</section>
		
		<div class="divider"><div></div></div>
			

			
		<div class="section-header">
			<h2>The product</h2>
		</div>		
		<section class="the-product pure-g"> 

			<div class="phone pure-u-1 pure-u-sm-1-2">
				<img src="/images/modules/phone.png" alt="">
			</div>
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="text">
					<h2>The product</h2>
					<p>
						
						But 6 billion do have mobile phones. We send illustrated children’s stories by text message and messaging apps to get families talking face-to-face. 

					</p>
					<p>
						And it’s <span>300x cheaper</span> than just shipping paperbacks.
					</p>
				</div>
			</div>
			
			
		</section>

		<div class="divider"><div></div></div>
	
		<div class="section-header">
			<h2>Where we're going</h2>
		</div>		
		<section class="join-us pure-g">
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="v-align">
					<div class="text">
						<h2>The progress</h2>
						<p>
				As part of a $24M grant with the US government, we’re piloting with tens of thousands of families.
						</p>
						<p>
				And with our first families, StoryTime increased nightly reading <span>by 160%</span>.  
						</p>
<!-- 						<p>
							We're recruiting. If you're passionate about technology, early literacy, or changing the world, here's our personal email.
						</p> -->


					</div>

				</div>
			</div>
			<div class="partners pure-u-1 pure-u-sm-1-2">
				<div class="container">
					<img src="/images/modules/partners.png" alt="">
				</div>
			</div>

		</section>

		<div class="divider"><div></div></div>

		<section class="progress text"> 

			<h4>
				There are 1 billion families without books <br> or Internet only StoryTime can reach.
			</h4>

			<div class="globe pure-u-1 pure-u-sm-1-2">
				<div class="container">
					<img src="/images/modules/globe.png" alt="">
				</div>
			</div>

			<h4>
				Join us. <span><a href="mailto:info@joinstorytime.com">info@joinstorytime.com.</a></span>
			</h4>


		</section>



<!-- 			<div class="overlap">
 			<div class="wrapper">
 
 				<div class="main">
 					<div class="column text">
 						<div class="txt_inner">
 							<div class="recruitment-text">
	 						    <h1>Join Us</h1>
	 						     <h2>info@joinstorytime.com</h2>
 							</div>

 						</div>
 					</div>
 					
 					<div class="column plane">
 						<img id="airplane" src="/images/modules/airplane.png" alt="">
 					</div>
 
 					<div class="column bed">
 						<img id="bedframe" src="/images/modules/bedframe.png" alt="">
 			    	</div>
 					
 				</div>
 			    
 			</div>
 
 
 			
			<div class="footer">
				<div class="bottom">
					<img id="grass" src="/images/modules/grass_fit.png" alt="">
				</div>
		
			</div>

  		</div>
 -->
			

		

		

	</body>
</html>