<!DOCTYPE html>
<html>
	<head>
	
		<title>StoryTime - Free Stories by Text Message</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without 	books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">

		<script async src="/js/smooth-scroll.min.js"></script>

		<script async type="text/javascript" src="/js/analytics.js"></script>
	
	<!-- Bootstrap modal files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script async type="text/javascript" src="http://d2yudi7y1eei74.cloudfront.net/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://d2yudi7y1eei74.cloudfront.net/stylesheets/bootstrap.min.css">

		<!-- end Boostrap -->


		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
		
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
	</head>

	<body>


	<!-- Notify about form submission -->
	<% if flash[:notice] %>
		<div id="alert">
		    <a class="alert" href="#alert">Great! Your story's on the way.</a>
		</div>
	<% end %>


		<div class="main-container">



			<nav class="navbar" role="navigation">
				<div class="container">
					<a href="/">
					<div class="navbar-logo">
					</div>
					</a>
					<ul class="navbar-right">
						<li><a href="team">people</a></li>
						<li> <a data-scroll href="#prob">problem</a></li>
						<li><a data-scroll href="#prod">product</a></li>
						<li class="navbar-button-item">
							<a>
								<button class="signup-btn pure-button pure-button-primary get_update dialog-button" data-toggle="modal" data-target="#myModal">
								Add Class
								</button>
							</a>
						</li>
					</ul>
				</div>
			</nav>
	
<!-- Modal Signup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="navbar-logo" id="modal-logo"></div>
      </div>
      <div class="modal-body">
        <h2 class="modal-signup-heading">Add your class on StoryTime!</h2>
        <div class= modal-subheading-container>
	        <h3 class="modal-subheading">1. Send home invites (we'll email you).<br>2. Your class can get free books by text!</h3>
	    </div>
        <form action="success" method="post"> 
	      	<div class="signup-setup">
		        <div class="field" id="signup-field">
										<input name="email" placeholder="sarah.jones@ymca.org" class="input" required>
				</div>
			        <button id="join" class="pure-button pure-button-primary get_update dialog-button">Get Started</button>
			 </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Signup-->

<!-- Modal Demo -->
<div class="modal fade" id="myDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="navbar-logo" id="modal-logo"></div>
      </div>
      <div class="modal-body">
        <h2 class="modal-signup-heading">Get a demo story!</h2>
	        <h3 class="demo-modal modal-subheading">We'll text you a few StoryTime pages.</h3>
        <form action="demo_success" method="post"> 
	      	<div class="signup-setup">
		        <div class="field" id="signup-field">
										<input name="phone" placeholder="(555)-555-5555" class="input" required>
				</div>
			        <button id="join" class="pure-button pure-button-primary get_update dialog-button">Get Demo</button>
			 </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Demo-->


			<div class="splash">
				<div class="container" id="splash">
					<div class="pure-g">	
						
						<div class="splash-text hero-splash-text-container pure-u-1 pure-u-md-1-2 pure-push-md-1-2">
							<img id="logo-new" src="/images/modules/logo.png">
							<h1 class="storytime-tagline">
							<span>free stories by text.</span>
							<br>
							for your students<br>without books.
							</h1>
			              <!-- Button trigger modal   -->
			              <button type="button" class="btn btn-primary btn-lg pure-button pure-button-primary get_update dialog-button" id="start-modal-button" data-toggle="modal" data-target="#myModal">
			                Add Class
			              </button>
							
							<div class="demo" data-toggle="modal" data-target="#myDemo">
							  <span class="glyphicon glyphicon-book my-glyph" aria-hidden="true"></span>
								<span class='try-it'>Try Demo</span>

							</div>


								
						</div>			
						<div class="animation hero-animation-container pure-u-1 pure-u-md-1-2 pure-pull-md-1-2" id="hero-animation-container">
							<img id="background-phone" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/htc-one-blank-high.jpg">
							<img id="gif-animation" class="hero-animation" src="http://d2yudi7y1eei74.cloudfront.net/assets/small-android.gif">

							<video  id="my-video" preload=auto autoplay loop muted>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/video-file-gumbo.webm">
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/rotated-video.mp4" type='video/mp4'>
								<source src="http://d2yudi7y1eei74.cloudfront.net/assets/video-file-gumbo.ogv">
							</video>	



	
						<style>

li.navbar-button-item{
	padding-top: 34px;
}

.signup-btn {
	font-weight: 900;
    padding: 12px 12px 8px;
    text-transform: uppercase;
}


.modal-subheading-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 313px;
}

h3.modal-subheading {
	font-weight: 100;
	text-align: left;
}

h3.demo-modal {
	text-align: center;
}


.demo {
	cursor: pointer;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
}


@media (min-width: 768px) {
	.demo {
		margin-top: 35px;
		margin-left: 0px;
	}

}


.demo:hover, .demo span.try-it:hover {
	color: #4a4a4a;
}



.demo span.try-it {

		position: absolute;
    margin-left: 10px;
    margin-top: 0px;
    color: #ed7a44;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 100;
}
.my-glyph {
	font-size: 1.5em;
	color: #ed7a44;
}

div.animation#hero-animation-container {
	display: inline-block;
}


#start-modal-button {
	font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 30px;

}

@media (min-width: 768px)
{
    #start-modal-button {
		margin-left: 0;
	}
}

div.splash-text.hero-splash-text-container{
	z-index: 99;
}

div.partner-logos {
	margin-top: 4.75em;
}

@media (min-width: 570px) {
	div.partner-logos {
	    margin-top: 9.5em;
	}
}



@media (min-width: 768px) {
	div.partner-logos {
	    margin-top: 6.5em;
	}
}

div#modal-logo {
	float: none;
	height: 72px;
	width: 100%;
}

div#signup-field {
	margin-left: 6%;
	width: 185px;
    margin-top: 13px;
}		

button#join.dialog-button {
	margin-bottom: 15px;
	font-size: 17px;
	display: inline-block;
	padding: 11px; 
/*	padding-top: 10px;
*/	/*match other*/
	margin-left: 2px;
	margin-top: 12px;
	font-weight: 100;
}


@media (min-width: 520px) {
	div#signup-field {
		margin-left: 18%;
		width: 250px;

	}
	
	button#join.dialog-button {
		margin-top: 13px;
		margin-left: 10px;

	}


}

.field .input {
	margin: 0 0 8px;
}

.field {
	display: inline-block;
	margin: 0 0 12px;
    position: relative;
    text-align: left;
        margin-left: 134px
}

.input {
	transition: 75ms ease-in-out;
    transition-property: background,border-color,box-shadow,color;
    background: #fff;
    border: 1px solid #c5c7cb;
    border-radius: 3px;
    width: 100%;
    color: #282c31;
    font-family: 'Karla',sans-serif;
    font-size: 14px;
    padding: 12px;
    line-height: normal;
}


						

							h2.modal-signup-heading{
								font-size: 26px;
   								text-align: center;
   								color: #4a4a4a;
   								font-family: 'Karla';
							}
							


							img#gif-animation.hero-animation {
								display: none;
							}

							#my-video {
							    width: 240px;
							    margin-left: 63px;
							    margin-top: 100px;
							    z-index: 800;

							}

							img#background-phone.hero-animation {
								width: 370px;
							}


							img#background-phone.hero-animation, #my-video {
								position: absolute;
								display: inline-block;
							}

							@media (min-width: 1026px) {
								#my-video {
									margin-left: 143px;
								}
								
								img#background-phone.hero-animation {
									margin-left: 80px;

								}

							}

							@media (max-width: 768px)
							{
								img#background-phone.hero-animation, #my-video {
									display: none;
								}

								img#gif-animation.hero-animation {
									display: block;
								}

							}


						</style>

						</div>
						

					</div>
				</div>
			</div>
		
					<div class="partner-logos">

						<div class="logo left"><img src="/images/modules/ymca_logo.png" alt=""></div>
						<div class="logo center"><img src="/images/modules/headStart_logo.png" alt=""></div>
						<div class="logo right"><img src="/images/modules/yale_logo.png" alt=""></div>
					</div>


			<h1 class="banner">we're closing the word-gap.</h1>


			<section class="video" >
				<iframe src="http://www.youtube.com/embed/2UY1Zw0Gw7w" frameborder="0" allowfullscreen></iframe>
			</section>


			<div class="section-header">
				<h2 id="the_problem">the problem</h2>
			</div>		
			<section class="the-problem pure-g"> 

				<div class="girl pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
					<img src="/images/modules/sad-girl.png" alt="" id="padded-img">
				</div>


				<div class="pure-u-1 pure-pull-sm-1-2 pure-u-sm-1-2">
					<div class="text">
						<h2 id="prob">the problem</h2>
						<p>
							Low-income kids are set up to fail before they even start preschool. By age three, they’ve heard <span>30 million fewer words</span> than wealthier kids— a word-gap that stunts early brain growth. Books get families talking, but 1 billion families just don’t have access to any books or Internet. 
						</p>
					</div>
				</div>
				
			</section>
			
			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>
		

				
			<div class="section-header">
				<h2>the product</h2>
			</div>		
			<section class="the-product pure-g"> 

				<div class="phone pure-u-1 pure-u-sm-1-2">
					<img src="/images/modules/phone.png" alt="">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="text">
						<h2 id="prod">the product</h2>
						<p>
							
							But 6 billion do have mobile phones. We send stories by text message and messaging apps to get families talking face-to-face. Stanford researchers have shown it <span>significantly impacts</span> early literacy. And it’s <span>300x cheaper</span> than just shipping paperbacks.
						</p>
					</div>
				</div>
				
				
			</section>

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>

			<div class="section-header">
				<h2>the progress</h2>
			</div>		
			<section class="join-us pure-g">
				<div class="partners pure-u-1 pure-u-sm-1-2 pure-push-sm-1-2">
						<img src="/images/modules/partners.png" alt="">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 pure-pull-sm-1-2">
					<div class="v-align">
						<div class="text">
							<h2>the progress</h2>
							<p>
					Now, we’re piloting with tens of thousands of families from across New York, Connecticut, Texas, and Florida. And with our first families, StoryTime more than <span>doubled nightly reading</span>.  
							</p>

						</div>

					</div>
				</div>

			</section>

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>


			
			<div class="section-header">
				<h2>the people</h2>
			</div>		
			<section class="the-product pure-g"> 

				<div class="prize pure-u-1 pure-u-sm-1-2">
					<img src="/images/modules/Thorne_Prize_Crayon_Border.png" alt="" id="padded-img">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="text">
						<h2 id="people">the people</h2>
						<p>

							We’re a Yale team of engineers and former Head Start preschool teachers,  spanning Google and the Federal Reserve. We built StoryTime for our class’s families at Martinez Head Start. Now, we’re closing the word gap at scale and bringing every family closer.  </p>

							<a id="more_team" href="team"><p>more about us</p></a>

					</div>
				</div>
				
				
			</section>

			<div class="divider"><div></div></div>
			<div class="divider" id="divider-mobile"><div></div></div>

			<div class="bottom">
				<div class="splash">
					<div class="container" id="splash">
						<div class="pure-g">	
							<div class="splash-text pure-u-1 pure-u-md-1-2">
								<img id="logo-new" src="/images/modules/1_billion_text.png">
								<h1 class="storytime-tagline">
								without books or <br>Internet. We <span> get <br>
								them stories. </span>
								</h1>


								<div class="meta-block">
									<a href="/join">
								        <button id="join" class="pure-button pure-button-primary get_update">join our team</button>
								    </a>
							    </div>


								<div class="email">
									<a id="more_team" href="mailto:phil@joinstorytime.com,david@joinstorytime.com"><p>get in touch</p></a>
								</div>



							</div>					
							<div class="animation bottom_globe pure-u-1 pure-u-md-1-2">
								<img src="/images/modules/globe.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>	

	</body>
	<footer>
		<script>
    	smoothScroll.init();
		</script>
	</footer>
</html>