<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>



		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

				<title>StoryTime</title>
	</head>


	<body>

		<div class="overlap">
			<div class="wrapper">

				<div class="main">
					<div class="column text">
						<div class="txt_inner">
						    <h1>StoryTime</h1>
						    <h2>Free stories by text message.</h2>
						    <p>For every family in the world.</p>
						    <a href="/learn-more"><button>Learn more!</button></a>
						</div>
					</div>
					<div class="column bed">
						<img id="bedframe" src="/images/modules/bedframe.png" alt="">
			    	</div>
					
				</div>
			    
			</div>


			<div class="footer">
				<img id="grass" src="/images/modules/grass.png" alt="">
				<div class="partner-logos">

					<div class="logo left"><img src="/images/modules/ymca_logo.png" alt=""></div>
					<div class="logo center"><img src="/images/modules/headStart_logo.png" alt=""></div>
					<div class="logo right"><img src="/images/modules/yale_logo.png" alt=""></div>
				</div>

			</div>

		</div>



		

	</body>
</html>