<!DOCTYPE html>
<html>
		<title>StoryTime - Privacy Policy</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="StoryTime - Free stories by text message. For every family without books. We're closing the word gap at scale.">
		
		<meta property="og:image" content="http://www.joinstorytime.com/images/modules/st-og-image.png">
		
		<script type="text/javascript" src="/js/analytics.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

		<link rel="stylesheet" href="stylesheets/job_board.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/alert.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">

		<link rel="stylesheet" href="stylesheets/main.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/team.css" type="text/css" />

		<link rel="stylesheet" href="stylesheets/pure-push-pull.css" type="text/css" />


		<!-- Favicon and App icon images -->
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<style>
			.privacy {
				display: block;
				width: 40%;
				margin: auto;
			}

			.privacy h1 {
				text-align: left;
			}

			.privacy a {
				display: inline-block;
			}

		</style>



	</head>

	<body>
		<!-- Notify about form submission -->
	
		<nav class="navbar" role="navigation">
			<div class="container">
				<a href="../">
					<div class="navbar-logo">
					</div>
				</a>
			</div>
		</nav>
		<br class="mobile_only">
		<div id="jobs">
								<img id="logo-new" src="/images/modules/logo.png">
								<h2 class="our_team">privacy policy</h2>
		</div>
		
			<div class="privacy">
				<p>StoryTime's about getting children's stories to parents to read to their kids. If you're a parent on StoryTime, we ("us", "our", "StoryTime") need to know some information about you (the parent, guardian) so we can get you stories. Here are a few facts:</p>

				<h1>What information we collect</h1>
				<p>We collect information in two ways: directly through you or your child's school, and through your Facebook profile.</p>

				<h3>From you or your child's school:</h3>
				<p>If you are a parent with one of our pilot schools, we may request your name and cell phone number through you or your child’s school. This way, we can contact you via text message or Facebook Messenger and start sending stories. We only collect this data at your consent. Any information granted from schools will be by your permission.</p>
				<h3>From Facebook Messenger</h3>
				<p>
				We use Facebook Messenger to deliver the best experience possible with reading and receiving stories and reading tips. We use Facebook's Graph API to collect information about you to improve your experience with the StoryTime messenger app. This information includes:
				<ol>
					<li>name</li>
					<li>language of preference</li>
					<li>gender</li>
					<li>timezone</li>
				</ol>
				 <p>as indicated on your public Facebook account. This information is only obtained under your direct consent by starting a conversation or accepting a Message Request from our StoryTime messenger bot. </p>
				</p>
				<p>We may gather other data from you through the Messenger app. These are all optional and under your discretion to provide. They include:</p>
				<ol>
					<li>content preferences (favorite stories, characters, etc.)</li>
					<li>hometown</li>
				</ol>
				<p>We also record what messages you've opened and whatever text responses you write to our Bot.</p>

				<h1>How we use this information</h1>
				<p>We mostly use your personal information to customize your experience using the StoryTime bot. For example, we may send you a story referencing your name or hometown. <br>
				We may use your cell phone number to contact you through Facebook Messenger. <br>
				We use information from Facebook's Graph API to ensure that our messages are sent only at the expected time in your timezone and in your preferred language. <br>
				If you're a parent and you signed up for StoryTime through your child's preschool, we'll send messages that you've written to StoryTime to your child's teacher.
				</p>

				<h1>How to contact us</h1>
				<p>If you have questions about this privacy policy or StoryTime in general, please contact us at 
									<a id="more_team" href="mailto:phil@joinstorytime.com,david@joinstorytime.com"><p>david@joinstorytime.com.</p></a>

				</p>

				<p>Written inquiries may be sent to:</p>
				<p>
					StoryTime <br>
					254 Elm Street <br>
					New Haven, CT 06511

				</p>

				<h1>Thanks!</h1>

			</div>


			

			

	</body>
	<footer>
		<script>
    	smoothScroll.init();
		</script>
	</footer>
</html>