
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/fonts.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/form.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
        <title>StoryTime Resources</title>
	</head>

	<body>
	
	<h1>Resources</h1>
	<div id="resources">
		<h2><a href="https://www.dropbox.com/s/1to46ririuffrxf/About_StoryTime.pdf?dl=0">Pitch Deck</a></h2> <p>Here’s the main StoryTime overview we send our contacts.</p> 

		<h2><a href="https://www.youtube.com/watch?v=F6mF8fzYb2k&t=73m26s">Pitch</a></h2><p>Our story, in 5-minute video form.</p> 

		<h2><a href="https://www.dropbox.com/s/1npi9dsxpv5cmys/StoryTime%20Reading%20List%20%2812%3A15%29.pdf?dl=0">Reading List</a></h2> <p>Important articles and research summarized.</p>

		<h2><a href="https://www.dropbox.com/s/ekzzqql7fc018zu/StoryTime%20Personas.pdf?dl=0">Personas.</a></h2> <p>Simplified profiles of the parents we work for.</p>

		<h2><a href="https://www.dropbox.com/s/1mwdj4lzjkkp96c/Illustration%20Guidelines.pdf?dl=0">Illustration Guide</h2></a><p>A guide to illustrating for us.</p>

		<h2><a href="https://www.dropbox.com/s/hshmnncrdwtfgjt/StoryTime%20Poetry%20Guidelines.pdf?dl=0">Poetry Guide</h2></a><p>A guide to writing poetry for us.</p>

		<h2><a href="http://joinstorytime.com/doc">Docs</h2></a><p>Code documentation.</p>
		
	</div>

	</body>

</html> 