<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css">
  <style>
    body   { padding-top:50px; }
    .row   { margin-bottom:20px; }
  </style>
</head>
<body>


<div class="container text-center">
  
  <p>2 is pushed above 1 and 3 on small screens</p>
  <div class="row">
  <div class="well well-lg clearfix">
    
    <div class="col-xs-12 col-md-4 col-md-push-4">
      <div class="alert alert-warning">
        2
      </div>
    </div>
    
    <div class="col-xs-6 col-md-4 col-md-pull-4">
      <div class="alert alert-info">
        1
      </div>
    </div>    
    
    <div class="col-xs-6 col-md-4">
      <div class="alert alert-danger">
        3
      </div>
    </div>
    
  </div>
  </div>
  
  <p>2 is pushed below 1 and 3 on small screens</p>
  <div class="row">
  <div class="well well-lg clearfix">
    
    <div class="col-xs-6 col-md-4">
      <div class="alert alert-info">
        1
      </div>
    </div>    
    
    <div class="col-xs-6 col-md-4 col-md-push-4">
      <div class="alert alert-danger">
        3
      </div>
    </div>
    
    <div class="col-xs-12 col-md-4 col-md-pull-4">
      <div class="alert alert-warning">
        2
      </div>
    </div>
    
  </div>
  </div>
  
  <p>1 moves to the right as a sidebar on large screens</p>
  <div class="row">
  <div class="well well-lg clearfix">
    <div class="col-sm-4 col-md-3 col-md-push-9">
      <div class="alert alert-danger">
        1
      </div>
    </div>
    <div class="col-sm-8 col-md-9 col-md-pull-3">
      <div class="alert alert-info">
        2
      </div>
    </div>
  </div>
  </div>
  
  <div class="well well-lg">
    A <a href="http://scotch.io/bar-talk/reorder-css-columns-using-bootstrap" target="_blank">tutorial</a> by <a href="http://scotch.io" target="_blank">scotch.io</a>
  </div>
  
</div>
  
</body>
</html>