  <div data-role="page" class="wrapper" id="page2">
    <%= erb :'components/navbar' %>
      <div data-role="main" class="body" style="vertical-align: top;">
        <div class="container password">
          <div class="pure-g">
              <div class="pure-u-1 class-information password-text">
                <h1 class="" style="display: inline-block;font-weight:600;font-size:1.8em;">Invite your teacher</h1>
                <h3>Teachers get everyone StoryTime books. Simple and free.</h3>
              </div>
              <div class="pure-u-1 login-form">
                <form id="invite-teacher-form"> 
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                      <input name="signature" placeholder="Teacher email address" class="input" required>
                      <input name="role" type="hidden" value="" required>
                    </div>
                    <!-- fades to page5: success -->
                     <a id="page2link" class="transition-link ui-btn web-mobile-signup-button" href="#page5" data-transition="fade">
                        <%= "Invite" %>
                     </a>
                     
                    <script>
                      $('#page2link').click(function(event){
                        $.post('/freemium-signup', $('#invite-teacher-form').serialize());
                      });
                    </script>

                  </div>
                </form>
              </div>
          </div> <%# end pure-g %>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>