<style>
     #monday {
            font-weight: normal;
            text-align: center;
            width: 80%;
            display: block;
            margin: 0 auto;
     }

     .wrapper {
        background: #3F3F5E;
     }
</style>

<div data-role="page" class="wrapper" id="page5">
  <%= erb :'components/navbar' %>

        <div data-role="main" class="body invite-teacher pure-g">
          <div class="container">
            <div class="pure-u-1">
           
                <div id="monday">
                  <h1 style="margin-bottom: 0px;">Congrats!</h1>
                  <h2 style="font-size:1em;font-weight:normal;color:#656565;">We'll let you know soon when your invite is ready.</h2>
                </div>

                <div id="app-icon">
                  <img src="/images/logo-large.png"  alt="">
                </div>


                <a id="backToHome" data-ajax="false" class="transition-link ui-btn web-mobile-signup-button" href="/">
                    Back to HomePage
                </a>
               
            </div>
          </div>
        </div> <%# end pure-g %>



</div> <%# wrapper %>