/**
 * SASS for the case-study page.
 */

html {
  font-size: 100%;
}

body {
  font-size: 1em;
}

iframe {
  display: block;
  margin: auto;
}

body {
  font-family: "Karla";
}

.rmp-banner {
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

section {
  padding-top: 3em;
  padding-bottom: 3em;
}

h1,
h2,
p {
  padding-left: 4%;
  padding-right: 4%;
}

.main-quote {
  h1 {
    line-height: 1.2em;
    max-width: 100%;
    margin: 0 auto;
  }

  .rmp-banner & {
    max-width: 40em;
  }

  .reading-challenges & {
    max-width: 51em;
  }

  .reading-habits & {
    max-width: 48em;
  }

  .the-results & {
    max-width: 63em;
  }

  .citation {
    text-align: right;
    margin: 0px;
    font-size: 1.1em;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-weight: normal;
      font-style: italic;
    }
  }
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.more-info {
  padding-left: 5%;

  .testimony-sub {
    padding-left: 7%;
  }
}

.section-divider {
  width: 100%;
  text-align: center;
  min-height: 30em;
  padding-top: 8em;
  p,
  h2 {
    color: white;
    font-weight: normal;
  }
  h2 {
    font-size: 2em;
  }

  &#part-1 {
    background: url("/images/case-study/Creekside1.jpg") center top/cover
      no-repeat #03686b;
  }

  &#part-2 {
    background: url("/images/case-study/Creekside2.jpg") center top/cover
      no-repeat #03686b;
  }

  &#part-3 {
    background: url("/images/case-study/Creekside5.jpg") center top/cover
      no-repeat #03686b;
  }

  .circle-title {
    border-radius: 50%;
    background-color: #ed7a44;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    /* width and height can be anything, as long as they're equal */
    p {
      padding-top: 1.2em;
      font-size: 1.5em;
    }
  }
}

#inner-main-quote {
  font-size: 1.3em;
  line-height: 2.2em;
  text-align: left;
}

.bigger-lines {
  line-height: 2.2em;
}

.key-results {
  padding-top: 4em;
  min-height: 25em;
  background-color: #f5f8f9;
  border-top: 1px solid #bdbdbe;
  border-bottom: 1px solid #bdbdbe;

  h1 {
    margin-bottom: 2em;
  }

  .pure-g {
    width: 80%;
    margin: 0 auto;
  }

  .inner-wrapper {
    width: 14.5em;
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
    line-height: 0em;
  }
}

@media (min-width: 35.5em) {
  // 568px

  // h1, h2, p {
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }

  section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .main-quote {
    h1 {
      line-height: 2em;
    }

    .rmp-banner & {
      max-width: 40em;
    }

    .reading-challenges & {
      max-width: 51em;
    }

    .reading-habits & {
      max-width: 48em;
    }

    .the-results & {
      max-width: 63em;
    }

    .citation {
      text-align: right;
      margin: 0px;
      font-size: 1.1em;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .centered {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .more-info {
    padding-left: 5%;

    .testimony-sub {
      padding-left: 7%;
    }
  }

  .section-divider {
    width: 100%;
    text-align: center;
    min-height: 30em;
    padding-top: 8em;
    p,
    h2 {
      color: white;
      font-weight: normal;
    }
    h2 {
      font-size: 2em;
    }

    &#part-1 {
      background: url("/images/case-study/Creekside1.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-2 {
      background: url("/images/case-study/Creekside2.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-3 {
      background: url("/images/case-study/Creekside5.jpg") center top/cover
        no-repeat #03686b;
    }

    .circle-title {
      border-radius: 50%;
      background-color: #ed7a44;
      width: 6em;
      height: 6em;
      margin: 0 auto;
      /* width and height can be anything, as long as they're equal */
      p {
        padding-top: 1.2em;
        font-size: 1.5em;
      }
    }
  }

  #inner-main-quote {
    font-size: 1.3em;
    line-height: 2.2em;
    text-align: left;
  }

  .bigger-lines {
    line-height: 2.2em;
  }

  .key-results {
    padding-top: 4em;
    min-height: 25em;
    background-color: #f5f8f9;
    border-top: 1px solid #bdbdbe;
    border-bottom: 1px solid #bdbdbe;

    h1 {
      margin-bottom: 2em;
    }

    .pure-g {
      width: 80%;
      margin: 0 auto;
    }

    .inner-wrapper {
      width: 14.5em;
      font-size: 0.9em;
      margin: 0 auto;
      text-align: center;
      line-height: 0em;
    }
  }
}

// TABLET!!!!
@media (min-width: 48em) {
  // 768px
  .main-quote.centered {
    // line-height: 1.2em;
    max-width: 90%;
    margin: 0 auto;
  }

  h1,
  h2,
  p {
    padding-left: 0px;
    padding-right: 0px;
  }

  section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .main-quote {
    h1 {
      line-height: 2em;
    }

    .citation {
      text-align: right;
      margin: 0px;
      font-size: 1.1em;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .centered {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .more-info {
    padding-left: 5%;

    .testimony-sub {
      padding-left: 7%;
    }
  }

  .section-divider {
    width: 100%;
    text-align: center;
    min-height: 30em;
    padding-top: 8em;
    p,
    h2 {
      color: white;
      font-weight: normal;
    }
    h2 {
      font-size: 2em;
    }

    &#part-1 {
      background: url("/images/case-study/Creekside1.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-2 {
      background: url("/images/case-study/Creekside2.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-3 {
      background: url("/images/case-study/Creekside5.jpg") center top/cover
        no-repeat #03686b;
    }

    .circle-title {
      border-radius: 50%;
      background-color: #ed7a44;
      width: 6em;
      height: 6em;
      margin: 0 auto;
      /* width and height can be anything, as long as they're equal */
      p {
        padding-top: 1.2em;
        font-size: 1.5em;
      }
    }
  }

  #inner-main-quote {
    font-size: 1.3em;
    line-height: 2.2em;
    text-align: left;
  }

  .bigger-lines {
    line-height: 2.2em;
  }

  .key-results {
    padding-top: 4em;
    min-height: 25em;
    background-color: #f5f8f9;
    border-top: 1px solid #bdbdbe;
    border-bottom: 1px solid #bdbdbe;

    h1 {
      margin-bottom: 2em;
    }

    .pure-g {
      width: 80%;
      margin: 0 auto;
    }

    .inner-wrapper {
      width: 14.5em;
      font-size: 0.9em;
      margin: 0 auto;
      text-align: center;
      line-height: 0em;
    }
  }
}

@media (min-width: 64em) {
  // 1024px

  h1,
  h2,
  p {
    padding-left: 0px;
    padding-right: 0px;
  }

  section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .main-quote {
    h1 {
      line-height: 2em;
    }

    .rmp-banner & {
      max-width: 40em;
    }

    .reading-challenges & {
      max-width: 51em;
    }

    .reading-habits & {
      max-width: 48em;
    }

    .the-results & {
      max-width: 63em;
    }

    .citation {
      text-align: right;
      margin: 0px;
      font-size: 1.1em;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .centered {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .more-info {
    padding-left: 5%;

    .testimony-sub {
      padding-left: 7%;
    }
  }

  .section-divider {
    width: 100%;
    text-align: center;
    min-height: 30em;
    padding-top: 8em;
    p,
    h2 {
      color: white;
      font-weight: normal;
    }
    h2 {
      font-size: 2em;
    }

    &#part-1 {
      background: url("/images/case-study/Creekside1.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-2 {
      background: url("/images/case-study/Creekside2.jpg") center top/cover
        no-repeat #03686b;
    }

    &#part-3 {
      background: url("/images/case-study/Creekside5.jpg") center top/cover
        no-repeat #03686b;
    }

    .circle-title {
      border-radius: 50%;
      background-color: #ed7a44;
      width: 6em;
      height: 6em;
      margin: 0 auto;
      /* width and height can be anything, as long as they're equal */
      p {
        padding-top: 1.2em;
        font-size: 1.5em;
      }
    }
  }

  #inner-main-quote {
    font-size: 1.3em;
    line-height: 2.2em;
    text-align: left;
  }

  .bigger-lines {
    line-height: 2.2em;
  }

  .key-results {
    padding-top: 4em;
    min-height: 25em;
    background-color: #f5f8f9;
    border-top: 1px solid #bdbdbe;
    border-bottom: 1px solid #bdbdbe;

    h1 {
      margin-bottom: 2em;
    }

    .pure-g {
      width: 80%;
      margin: 0 auto;
    }

    .inner-wrapper {
      width: 14.5em;
      font-size: 0.9em;
      margin: 0 auto;
      text-align: center;
      line-height: 0em;
    }
  }
}
