/**
 * get-the-app.scss
 *
 * All styling for the get-the-app page.
 */


 // this is actually for get-the-app only
 .text-wrapper {
   letter-spacing: 0px;
   margin: 0 auto;
   width: 70%;
   min-width: 19em;
   // max-width: 25em;
   margin-bottom: 2em;
   padding-right: 1em;
   font-family: 'Karla';
   font-weight: normal;

   @media (min-width: 35.5em) {
     h2 {
       font-weight: normal;
       margin-bottom: 0px;
       // width: 80%;
       margin-left: 80px;
       margin-right: 0px;

     }

     p {
       margin-top: 0.5em;
       font-size: 1em;
       color: #7E7E7E;
       // width: 80%;
       margin-left: 80px;
       margin-right: 0px;
     }
   }


   @media (min-width: 48em) { // 768px
     margin-right: 0px;
     margin-left: auto;
     width: 80%;
     font-family: 'Karla';
     font-weight: normal;
   }

   h2 {
     font-weight: normal;
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;

     @media (min-width: 48em) { // 768px
       font-weight: normal;
       margin-bottom: 0px;
       margin-left: 0px;
       margin-right: 0px;
     }

   }

   p {
     margin-top: 0.5em;
     font-size: 1em;
     color: #7E7E7E;
     margin-left: auto;
     margin-right: auto;

     @media (min-width: 48em) { // 768px
       margin-top: 0.5em;
       font-size: 1em;
       color: #7E7E7E;
       margin-left: 0px;
       margin-right: 0px;
     }
   }

 }

 // get-the-app
 #apps-on-phones {
   margin: 0 auto;
   img {
     width: 80%;
     margin: 0 auto;
     display: block;
   }

   @media (min-width: 48em) { // 768px
     img {
       width: 545px;
     }
   }

 }

 // get-the-app
 #text-me-link-form {
   width: 90%;

   @media (min-width: 35.5em) {
     width: 80%;
     margin-left: 80px;
     margin-right: 0em;
   }

   @media (min-width: 48em) { // 768px
     margin-left: 0em;
     margin-right: 0em;
   }

   @media (min-width: 54em) {
     width: 20em;
     max-width: 80%;
   }

   @media (min-width: 80em) { // 1280px
     width: 20em;
     max-width: 80%;
   }

 }
