html{ font-size:100%; }

body {
  font-size: 1em;
  font-family: 'Karla'
}

body#override .splash {
  
}

section {
  max-width: 1445px;
  margin: 0 auto;
}

img {
  // max-width: 600px;
}

a#navbar-title {
  color:white;
  font-family:'dk_cool_crayonregular';
  font-size:2em;
  margin-top: 0.3em;
  float: left; 
  div  {
    
  }
}

button#main-signup-button {
  width: 12em;
  line-height: 2em;
}

.splash-new .splash-container {
  max-width: 1445px;
  min-height: 720px; // 720px
  display: block;
  margin: 0 auto;
  h1 {
    line-height: 1.2em;
  }

  background: url('http://d2yudi7y1eei74.cloudfront.net/assets/splash-new.jpg') center top/cover no-repeat #ba9e70;
  .title {
    text-align: center;
    color: white;
    padding-top: 8em; 
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: bold;

    h1 {
      font-size: 1.6em;
    }
  }


  h1 {
    color: white; 
    text-align: center;
  }

  h4 {
    color: white;
    text-align: center;
  }

}

h1.section-banner {
  margin-top: 0em;
  font-size: 1.6em;
  font-weight: bold;

  padding-top: 1.8em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  // #end-no-reading & {
  //   padding-top: 0.2em;
  // }

  #any-family & {
    padding-top: 1.8em;
    font-size: 1.8em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.product-display {


  .pure-g {
    width: 100%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
  }

  &#support-families {
    background-color: #F5F5F3
  }

  &#better-teachers {
    background-color: #676487;
    h1 {
      color: white;
    }
    .pure-g {
      width: 100%;
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &#any-family {
    background-color: #F5F5F3;
    .pure-g {
      width: 100%;
      padding-bottom: 2em;
    }
    border-bottom: 1px solid #676487
  }

}

.little-box {
  background-color: white;
  border-radius: 0.5em;
  // width: 
  position: relative;
  height: 16em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
  margin-bottom: 1.8em;
  img {
    margin: 0 auto; 
    display: block;
    padding-top: 1em;
    width: 7.2em;
    margin-bottom: 2em;
  }
  p {
    // position: absolute;
    // bottom: 0;
    // width: 90%;
    display: block;
    margin-left: 1em;
    margin-right: 1em;
  }

}

.product-text {
  font-size: 1em;
  font-family: 'Karla';
  text-align: center;
  margin-top: 1em;
  margin-bottom: 4em;

  ul {
    list-style-type: none;
    padding-left: 0em;
  }

  
  #better-teachers & {
    p {
      color: white;
    }
    width: 100%;
    text-align: center;
  }
}

.product-img {
  img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 18em;

    #better-teachers & {
      width: 90%;
      max-width: 16em;
    }

  }
}


// @media (max-width: 35.5em) { // 568px
//   .navbar {
//     position: relative;
//   }
// }



// THIS IS THE MOBILE SHIT
// everything up to pure-u-md
// all the new shit
@media (min-width: 35.5em) { // 568px
  .splash-new .splash-container {
      max-width: 1445px;
      min-height: 720px; // 720px
      display: block;
      margin: 0 auto;
      background: url('http://d2yudi7y1eei74.cloudfront.net/assets/splash-new.jpg') center top/cover no-repeat #ba9e70;
      .title {
        text-align: center;
        color: white;
        padding-top: 8em; 
        width: 21em;
        margin: 0 auto;
        font-size: 1.5em;

        font-weight: bold;

        h1 {
          font-size: 2em;
        }
      }


    h1 {
      color: white; 
      text-align: center;
    }

    h4 {
      color: white;
      text-align: center;
    }

  }

}


@media (min-width: 35em) { // 5XX px

  p {
    font-size: 1.12em;
  }

} 


// THIS IS THE TABLET SHIT
@media (min-width: 48em) { // 768px


  .splash {
    min-height: 750px;
  }

  body#override .splash {
    background-color: #F5F5F3
  }

  .product-display {
   

    .pure-g {
      width: 90%;
      margin: 0 auto;
    
    }

    &#support-families {
      background-color: #F5F5F3;
      .pure-g {
        width: 100%;
      }
    }

    &#better-teachers {
      background-color: #676487;
      h1 {
        color: white;
      }
      .pure-g {
        width: 100%;
      }
    }

    &#any-family {
      background-color: #F5F5F3;
      .pure-g {
        width: 100%;
        padding-bottom: 7em;
      }
      border-bottom: 1px solid #676487
    }

  }

  .little-box {
    background-color: white;
    border-radius: 0.5em;
    // width: 
    position: relative;
    height: 18em;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    img {
      margin: 0 auto; 
      display: block;
      padding-top: 1em;
      width: 7.2em;
      margin-bottom: 2em;
    }
    p {

      // position: absolute;
      // bottom: 0;
      // width: 90%;
      display: block;
      margin-left: 1em;
      margin-right: 1em;
    }

  }

  .product-text {
    font-size: 1em;
    font-family: 'Karla';
    text-align: left;
    margin-top: 6em;

    ul {
      list-style-type: none;
      padding-left: 0em;
    }

    
    #better-teachers & {
      p {
        color: white;
      }
      width: 15em;
      text-align: justify;
    }
  }

  .product-img {
    img {
      display: block;
      margin: 0 auto;
      width: 21em;
      max-width: 21em;

      #better-teachers & {
        width: 15em;
        max-width: 18em;
        padding-left: 1em;
        padding-right: 1em;
      }

    }
  }

  h1.section-banner {
    font-size: 2.5em;
    font-weight: bold;

    padding-top: 1.1em;
    margin-bottom: 1em;

    #any-family & {
      font-size: 2em;
    }
  }
  
}

// FULL SCREEN DESKTOP
@media (min-width: 64em) { // 1024px
    body#override .splash {
      background-color: #F5F5F3
    }

  .product-display {

    .pure-g {
      width: 75%;
      margin: 0 auto;
    
    }

    &#support-families {
      background-color: #F5F5F3;
      .pure-g {
        width: 85%;
      }
    }

    &#better-teachers {
      background-color: #676487;
      h1 {
        color: white;
      }
      .pure-g {
        width: 85%;
      }
    }

    &#any-family {
      background-color: #F5F5F3;
      .pure-g {
        width: 80%;
        padding-bottom: 7em;
      }
      border-bottom: 1px solid #676487
    }

  }

  .little-box {
    background-color: white;
    border-radius: 0.5em;
    // width: 
    position: relative;
    height: 16em;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    img {
      margin: 0 auto; 
      display: block;
      padding-top: 1em;
      width: 7em;
      margin-bottom: 2em;
    }
    p {

      // position: absolute;
      // bottom: 0;
      // width: 90%;
      display: block;
      margin-left: 1em;
      margin-right: 1em;
    }

  }

  .product-text {
    font-size: 1em;
    font-family: 'Karla';
    text-align: left;
    margin-top: 6em;

    ul {
      list-style-type: none;
      padding-left: 0em;
    }

    
    #better-teachers & {
      p {
        color: white;
      }
      width: 15em;
      text-align: justify;
    }
  }

  .product-img {
    img {
      display: block;
      margin: 0 auto;
      width: 21em;

      #better-teachers & {
        width: 18em;
      }

    }
  }

  h1.section-banner {
    font-size: 2.5em;
    font-weight: bold;

    padding-top: 1.1em;
    margin-bottom: 1em;

    #any-family & {
      font-size: 2em;
    }
  }

}


// EXTRA LARGE
@media (min-width: 80em) { // 1280px
    body#override .splash {
      background-color: #F5F5F3
    }

  .product-display {

    .pure-g {
      width: 60%;
      margin: 0 auto;
    
    }

    &#support-families {
      background-color: #F5F5F3;
      .pure-g {
        width: 70%;
      }
    }

    &#better-teachers {
      background-color: #676487;
      h1 {
        color: white;
      }
      .pure-g {
        width: 70%;
      }
    }

    &#any-family {
      background-color: #F5F5F3;
      .pure-g {
        width: 80%;
        padding-bottom: 7em;
      }
      border-bottom: 1px solid #676487
    }

  }

  .little-box {
    background-color: white;
    border-radius: 0.5em;
    // width: 
    position: relative;
    height: 16em;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    img {
      margin: 0 auto; 
      display: block;
      padding-top: 1em;
      width: 7em;
      margin-bottom: 2em;
    }
    p {

      // position: absolute;
      // bottom: 0;
      // width: 90%;
      display: block;
      margin-left: 1em;
      margin-right: 1em;
    }

  }

  .product-text {
    font-size: 1em;
    font-family: 'Karla';
    text-align: left;
    margin-top: 6em;

    ul {
      list-style-type: none;
    }

    
    #better-teachers & {
      p {
        color: white;
      }
      width: 15em;
      text-align: justify;
    }
  }

  .product-img {
    img {
      display: block;
      margin: 0 auto;
      width: 21em;

      #better-teachers & {
        width: 20em;
      }

    }
  }

  h1.section-banner {
    font-size: 2.5em;
    font-weight: bold;

    padding-top: 1.1em;
    margin-bottom: 1em;

    #any-family & {
      font-size: 2em;
    }
  }

}



