/* INVITE TEACHERS BY EMAIL modal */

#inviteTeachersModal .modal-body {
  overflow-y: hidden;
}

.teacher-modal-btn {
  cursor: pointer; cursor: hand;
  display: inline-block;
}

#inviteTeachersModal .modal-content {
  height: 85vh;
  width: 55vw;
  margin: 0 auto;
  /*margin-left: 8vw;*/
}

#inviteTeachersModal .table-input-container {
  height: 11.5em;
}

#inviteTeachersModal .row-small {
  height: 17em;
}

/* END INVITE TEACHERS BY EMAIL modal */



/* teacher modal */
.teacherModal .modal-body {
  overflow-y: hidden;
}

.teacherModal .modal-content {
  width: 60vw;
  margin: 0 auto;
  /*margin-left: -10vw;*/
}

.teacher-title {
  margin: 0 auto;
  text-align: center; 
  margin-left: -2em;

}

.teacher-title h1 {
  display: inline-block;
  font-weight: bold;
}

.teacherModal .teacher-title img {
  width: 80px;
}





/* end teacher modal */



/* header */
img.apple {
  float: right;
  padding-right: 1.5em;

  width: 150px; 
  margin-right: -12px;
  /*width: 200px;*/
  /*padding-top: 0.8em;*/
}

h3.apple {
  clear: right;
  text-align: right;
}

.paper-plane {
  padding-top: 1em;
}



/*img#paper-plane {
  margin-top: -2em;
}
*/


.the-whole-teacher-thing {
  position: relative;
  margin-top: 1em;
}

.the-whole-user-thing {
  position: relative;
  margin-top: 1em;
}

.user-info:hover {
  background-color: #eceff1;
}

.user-info.user-spotlight:hover {
  background-color: rgba(255,240,208,0.7);
}

.teacher-info:hover {
  background-color: #eceff1;
}

.teacher-info.user-spotlight:hover {
  background-color: rgba(255,240,208,0.7);
}

/* END header */

#bs-override .panel.panel-default.header {
  margin-bottom: 0px;
}

#bs-override .big-daddy-data .panel.panel-default.table-body {
  border-color: rgba(255,240,208, 1);
  /*border-top: none;*/
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.big-daddy-data.big-user {
  width: 88%;
}

#bs-override .table-bordered {
  border-color: rgba(255,240,208, 1);
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* stats stuff */
.stats {
  display: inline-block;
  /*float:right;*/
  /*padding-left: 3em;*/
  /*padding-right: 3em;*/
  margin-top: -0.5em;
}

.stats.user {
  margin-top: 0em;
}

.stats.user.left {
  margin-left: 3em;
}

.stats.user.right {
  margin-right: 3em;
}

.stats.user h1 {
  margin-bottom: 0.1em;
  font-size: 3.15em;
}

.stats.user p {
  margin: 0px;
  font-size: 1.26em;
}

/*border right not working */
.teacher-info {
  cursor: pointer; 
  cursor: hand;
  border-right: 2px solid rgba(249,189,61,1);  
}



.user-info {
  cursor: pointer; 
  cursor: hand;
  border-right: 2px solid rgba(249,189,61,1);  
}

.user-info-first-box {
  border-right: 4px solid rgba(249,189,61,1);
}

#bs-override .user-spotlight.first-row th {
  border-top: none;
}

#bs-override .user-spotlight th {
  /*background-color: #fff0d0;*/
  background-color: rgba(255,240,208,0.35);

  border-top: 2px solid rgba(249,189,61,1);  
  border-bottom: 2px solid rgba(249,189,61,1);  

  font-weight: bold;
}

#bs-override .user-spotlight {
  border-right: none;
}

.default-teacher-info {
  margin: 0 auto;
  width: 50%;
  margin-top: 10.5em;
}

.default-user-info {
  margin: 0 auto;
  width: 50%;
  margin-top: 10.5em;

}

.default-teacher-info h2 {
  font-size: 23px;
}

.default-user-info h2 {
  font-size: 23px;
}

#clicked-user tr {
  /*background-color: #fff0d0;*/
  background-color: rgba(255,240,208,0.35);
}

.family-header.users {
  /*display: inline-block;*/
  width: 100%;
  padding-bottom: 1.9em;
}

.family-header {
  /*width: 30em;*/
  margin: 0 auto;
  /*margin-top: 1em;*/
  /*padding-bottom: 1em;*/
  /*float: right;*/
}

.family-header .teacher-name {
  display: inline-block;
  /*margin-top: 0.6em;*/
}

.family-header img {
  /*float: right;*/
  display: inline-block;
  margin: 0;
}

.family-header h3 {
  position: relative;
  top: 0.7em;
  margin: 0em;
  font-weight: bold;
  text-align: center;
}


.the-data {
  text-align: center;
  /*background-color: #eceff1;*/
  /*background-color: #fff0d0;*/
  background-color: rgba(255,240,208,0.5);
  height: 26em;
}

.stats-user {
  margin-top: 2em;
}

.stats.user {
  position: relative;
  right: 0px;
  /*display: inline-block;*/
  /*padding: 1.6em;*/
  font-family: 'Karla';
  /*text-align: center;*/
}



.the-data h1 {
  font-weight: bold; 
  font-size: 4em;
  margin-top: 0.3em;
}

.table.fields {
  width: 100%;
}
.table.fields th {
  padding-left: 2em;
}

.big-daddy-data {
  /*width: 90%;*/
  margin: 0 auto;
}

.big-daddy-data h4 {
  margin-top: 0px;
  font-size: 1.4em;
}

#bottom-guy {
  margin-top: -1.5em;
}

#teacher-img {
  /*float: left;*/
  /*position: absolute;*/
  /*left: 6em;*/
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  margin-left: 2.5em;
}

.right-arrow {
  display: inline-block;
  height: 50px;
  width: auto;
  opacity: 0.3;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


#bs-override .the-whole-teacher-thing:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition-duration: 400ms;
}

#bottom-mofo {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0.6em;
  text-align: center;

}



/*::-webkit-scrollbar { 
    display: none; 
}*/
#bs-override div.table-responsive.pure-u-1-2 {
  /*margin-left: -1em;*/
}



.stats h1 {
  font-size: 4.2em;
  margin-top: 0.2em;
  margin-bottom: 0px;
  font-weight: bold;
}
.stats p {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 1.15em;
}

.stats.total {
  font-family: 'Karla';
  text-align: center;
  /*font-size: 4.5em;*/
}

.stats.total p {
  font-size: 1.68em;
  line-height: 1em;
}

.stats-wrapper {
  width: 100%;
  /*text-align: center;*/
  /*padding-left: 4em;*/
  /*margin: 0 auto;*/
}




#bs-override tr.user-info th {
  line-height: 3em;
}

#bs-override tr.teacher-info th {
  line-height: 3em;
}


#bs-override .teacher-name {
  width: 50%;
}

.teacher-name-top {
  width: 24.5%;
}

#bs-override .user-name {
  width: 50%;
}

.user-name-top {
  width: 24.5%;
}

.leftover-space {
  border-right: 2px solid rgba(249,189,61,1);
}

.table-responsive {
  height: 26em;
  /*overflow: auto; */
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  direction:rtl; 
}

#bs-override .table-responsive.pure-u-1-2 {
  margin-right: -4px;
}

#bs-override .table-responsive.pure-u-2-5 {
  margin-right: -4px;
}

#bs-override .table-responsive .table.data {
  direction: ltr;

}
.table-responsive .table.data th{
  font-weight: normal;  
}


#bs-override .table {
  margin-bottom: 0px;
}



/* END stats stuff */


body {
  font-family: 'Karla';
}

.container {
  height: 100%;
}

/* modal shit */
#myModal {
  width: 100%;
}

#myModal .modal-body {
    padding: 0px;
    height: 90vh;
    max-height: 1000px;
}
.modal-dialog,
.modal-content {
    /* 80% of window height */

}
.modal-body {
  /*height: 90%;*/
    overflow-y: scroll;
}

a#logout {
  font-weight: 800;
}

b, i {
  font-family: 'Karla';
}

  /*sidebar*/

  .sidebar {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    background: #f2f3f5;
      width: 260px;    
      height: 100%;
      
      position: relative;
      text-align: left;
      width: 18em;
  }

  .sidebar-heading { 
    padding: 28px 28px 0;
    color: #6b6e72;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .sidebar-heading h3 {
    font-size: 1em;
    font-weight: 800;
  }


  li img {
    display: inline-block;
  }

  li span:hover {
    color: black;
    transition-duration: 400ms
  }

  .tabs ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 2em;
  }

  .tabs li {
    margin: 0 auto;
    cursor: pointer; cursor: hand;
  }

  li {
    display: block;
      margin: 0;
      font-size: 14px;
       /*added because absolute positioning broke the padding*/
      height: 56px;
      width: 100%;
  }

  li.active {
      background: #fff;
      border: 0;
      color: inherit;
      /*border-bottom: solid 1px gray;*/
      /*border-top: solid 1px gray;    */
  }

  li.active span {
      color: inherit;
  }

  .tabs .sidebar-item {
    width: 60%;
    margin: 0 auto;
    padding-top: 0.9em;
    color: grey;
    font-weight: 800;

  }

  .tabs .sidebar-item a:hover {
    font-weight: 800;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: #4a4a4a;
    transition-duration: 125ms;
  }

  /*  end sidebar */
  
  /* in-person */
  
  h2.our_team {
    font-family: 'Karla';
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;
  }

  .box-header {
    padding: 0px;
    display: block;
  }

  .box-header-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.38;
    font-family: 'Karla', sans-serif;
  }

  .box-header-subtext {
      color: #6b6e72;
      font-size: 14px;
      margin: 6px 0 0;
      font-weight: 400;
      text-align: center;

  }

  .flyer-image {
    display: block;
      height: 20em;
      margin-left: auto;
      margin-right: auto;
      /*box-shadow: 0 1px 3px rgba(0,0,0,.25);*/
      margin-bottom: 5px;   
  }

  .flyer-image.phone-image.enroll-image {
    margin-top: 2em;
  }


  img.phone-image.enroll-image {
    margin-left: auto;
      margin-right: auto;
      display: block;
  }


  img.phone-image {
    height: 25em;
    padding-top: 1em;
    padding-bottom: 2em;
    box-shadow: 0 0 0 0;
  }

  img.phone-image.enroll-image {
    padding-bottom: 0em;
    padding-top: 1.5em;

  }

  /* end in-person */

  /* begin flyers */

  .english-spanish-flyers {
    margin-top: 2em;
  }

  .Button-ready {
  
    display:block;
    background: #2f75c1;
      color: #fff;
      letter-spacing: .01em;
      border: 1px solid transparent;
      border-radius: 3px;
      font-size: 15px;
      font-weight: 600;
      padding: 14px 20px;
      text-align: center;
      transition: 75ms ease-in-out;
      transition-property: background,border-color,color,opacity;
    
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 1.5em;*/
    
  }

  .Button-ready a {
    text-decoration: none;
    color: white;
  }




  /* end flyers */


  /* begin SPREADSHEET */
  .Button-ready.spreadsheet {
    margin-top: 1.6em;
  }


  .spreadsheet-upload .box-header {
    margin-bottom: 2em;
  }


  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: #BDBDBD;
    /*height: 200px;*/
    width: 200px;
    text-align: center;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    text-align: center;
  }
  .custom-span{ 
    font-family: 'Karla'; 
    font-weight: bold;
    font-size: 100px; 
    color: #FE57A1
  }
  #uploadFile{
    border: none;
    display: block; 

    margin: auto; 
    text-align: center;
    width: 200px;
  }
  .custom-para{
    font-family: 'Karla';
    font-weight: bold;
    font-size: 24px; 
    color:#585858;
  }


  /* end SPREADSHEET */

  /* begin invite-by-phone */

  .group-invite {
    box-sizing: border-box;
    display: block;
  }

  .by-phone .box-header {
    padding-bottom: 2em;
    display: block;
  }

  .by-phone .box-header-title{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.38;
    font-family: 'Karla', sans-serif;
  }

  .by-phone .box-header-subtext {
      color: #6b6e72;
      font-size: 14px;
      margin: 6px 0 0;
      font-weight: 400;
      text-align: center;

  }

  .box-body {
    padding-top: 0;
    padding: 0px 40px 40px 40px;
  }
  .row-small{
    margin-bottom: 16px;
    height: 14em;
  }

  .row {
    margin: 0 0 32px;
  }

  .table-input {
    text-align: left;
    font-size: 15px;
    margin-left: -23px;
  }

  .table-input-header-row {
    /*width: 100%;*/
    display: table;
  }

  .table-input-header-cell {
    background-color: #f2f3f5;
      border: 1px solid #dcdee2;
      border-width: 1px 0;
      color: #6b6e72;
      font-weight: 600;
      padding: 12px;
  }

  .table-input-header-cell, .table-input-body-cell {
        width:50%;
  }

  .table-input-cell {
    display: table-cell;
  }

  .table-input-container{
    overflow: auto;
    height: 150px;
    -webkit-overflow-scrolling: touch;
  }

  .table-input-body {
    width: 100%;
    display: table;
  }

  .table-input-body-row {
    display: table-row;
  }

  .table-input-cell-validation {
    min-width: 23px;
  }

  .table-input-body-cell {
      border-bottom: 1px solid #dcdee2;
  }

  .form-cell-input {
      border: 1px solid transparent;
      margin: 0 0 -1px;
      transition: 75ms ease-in-out;
      transition-property: background,border-color,color;
    cursor: pointer;
  }

  .table-input-body-cell input {
    width: 100%;
    padding: 16px 12px;
    font-weight: 400;
    border: none;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *, :after, :before {
      box-sizing: border-box;
  }

  .field {
    margin: 0 0 12px;
      position: relative;
      text-align: left;
  }

  .legal-field {
    font-size: 13px;
      line-height: 1.5;
      text-align: center;
  }

  .thunder {
    color: #6b6e72;
    font-weight: 100;
  }


  /* end invite-by-phone */






/* end modal */


/* welcome back message */
.pure-g.welcome {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.pure-g.welcome h2, .pure-g.welcome h3 {
  font-family: 'Karla';
  font-weight: bold;
}

.mobile-welcome, .mobile-navbar {
  display: none;
}

thead {
  background-color: #eceff1
}

/* navbar shit */

.page-header {
  background: url("/images/modules/bird.gif") left no-repeat;
  margin-top: 20px;
  padding-bottom: 11px;
}

.page-header h1 {
  margin-left: 4em;
  font-weight: 800;
  margin-bottom: 10px;

}

.page-header h1, .navbar-buttons {
  display: inline-block;
}

.navbar-buttons {
  float: right;
  margin-top: 0.8em;
}

.navbar-buttons .navbar-menu{
  margin-left: 0.3em;
}

.navbar-buttons .btn.outline {
  background: none;
  /*padding: 12px 22px;*/

  border: 2px solid #ed7844;
  color: #ed7844;
}

#get-help:hover, #get-help:focus, #get-help:active, #get-help.active, .open > .dropdown-toggle.btn {
  color: white;
  background-color: #ed7844;
  
}
.btn.outline:active, .btn.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

.btn.outline#top-button:hover, .btn.outline#top-button:focus, .btn.outline#top-button:active {
  background-color: #f3976f;
  transition-duration: 400ms;
}

.btn.outline#top-button { 
  color: white;
  background-color: #ed7844;
  
}

@media screen and (max-width: 52em) {
  .navbar-buttons .navbar-menu {
    margin-left: 0em;
  }
  .navbar-buttons a.navbar-menu {
    margin-right: 0.5em;
  }

  #inviteTeachersModal .modal-content {
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
    /*margin-left: 8vw;*/
  }
  .teacherModal .modal-content {
    width: 80vw;
    margin: 0 auto;
    /*margin-left: -10vw;*/
  }

}


@media screen and (max-width: 46em) {
  button.navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 35.5em) {
/*  .paper-plane {
    display: none;
  }
  .pure-u-1-2 {
    display: none;
  }

  .pure-g.welcome {
    display: none; 
  }
*/

  #bs-override th.user-name {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .page-header {
    margin-top: 40px;
  }

  .stats-user {
    margin-top: 1em;
  }

  .stats.user.left {
    margin-bottom: 1em;
  }

  .the-whole-teacher-thing {
    margin-top: 0px;
  }

  .stats.user.left, .stats.user.right {
    margin-left: 0px;
    margin-right: 0px;
  }

  .teacher-imgs {
    display: none;
  }

  .table-responsive {
    overflow-y: scroll;
  }

  .table.fields th {
    padding-left: 8px;
  }

  .table-responsive::-webkit-scrollbar {
    width: 0px;
  }

  .pure-g.welcome {
    margin-bottom: 3em;
  }

  .date-joined {
    display: none;
  }

  #bs-override .pure-g .pure-u-1 img.apple {
    padding-right: 0;
    margin: 0 auto;
    margin-right: 0px;
    text-align: center;
    float: none;
  }

  h3.apple {
    text-align: center;
  }

  .stats-wrapper .stats.total {
    display: block;
    text-align: center;
  }

  .paper-plane {
    padding-top: 2em;
  }

  .mobile-welcome {
    text-align: center;
    margin: 0 auto;
    margin-top: 3em;
    display: block;
    width: 80%;
    height: 15em;

    /*background-color: white;*/
    /*background: url('/images/paper-plane.png') no-repeat center; */
  }

  .page-header h1, .navbar-buttons {
    display: block;
    text-align: center;
    margin-left: 0em;
  }

  h1 {
    display: block; 
    clear:both;
    font-weight: 800;
  }

  #logout {
    display: none;
  }

  .page-header {
    background: none;
  }

  body {
    background: url("/images/modules/bird.gif") top left no-repeat;
  }

  .page-header .mobile-navbar {
    text-align: right;
    display: block;
    clear: both;
  }


}

/* navbar shit */













