
.enroll {
	display: block;
	width: 100%;
	margin: auto;
}

/*portrait*/
@media (min-width: 568px) {
	.enroll{
		width: 80%;
	}

}



/*tablet*/
@media (min-width: 768px) {
	.enroll{
		width: 65%;
	}

}


/*desktop*/
@media (min-width: 1024px) {
	.enroll{
		width: 55%;
	}

}

/*xlarge*/
@media (min-width: 1280px) {
	.enroll{
		width: 45%;
	}
}


.enroll h1 {
	text-align: left;
}

.enroll a {
	display: inline-block;
}

h2.enroll_header {
	margin-bottom: 0px;
}

/*teacher stuff*/

.teacher-info-box {
	padding: 20px 40px 0px 40px;
	max-width: 480px;
	margin: 0 auto;
}

.setup-signature-title, .setup-signature-name {
	margin-left: auto;
    margin-right: auto;
    display: block;

}

.setup-signature-name {
    width: 260px;
}

.setup-signature-title {
	width: 260px;
}

/*portrait*/
@media (min-width: 568px) {
	.setup-signature-title {
		width: 100px;
		margin-right: 10px;
	}
	.setup-signature-title, .setup-signature-name {
	display: inline-block;
    vertical-align: top;
	}

}

.label {
	font-size: 14px;
    font-weight: 600;
    line-height: 1.38;
    margin: 0 0 8px;
    text-align: left;
    display: block;
    cursor: default;
}

select.input  {
	height: 45px;
}

.field .input {
	margin: 0 0 8px;
}

.input {
	transition: 75ms ease-in-out;
    transition-property: background,border-color,box-shadow,color;
    background: #fff;
    border: 1px solid #c5c7cb;
    border-radius: 3px;
    width: 100%;
    color: #282c31;
    font-family: 'Karla',sans-serif;
    font-size: 14px;
    padding: 12px;
    line-height: normal;
}


/*END of teacher stuff*/


.group-invite {
	box-sizing: border-box;
	display: block;
}

.box-header {
	padding: 30px 40px 28px;
	display: block;
}

.box-header-title {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	line-height: 1.38;
	font-family: 'Karla', sans-serif;
}

.box-header-subtext {
    color: #6b6e72;
    font-size: 14px;
    margin: 6px 0 0;
    font-weight: 400;
    text-align: center;

}

.box-body {
	padding-top: 0;
	padding: 0px 40px 40px 40px;
}
.row-small{
	margin-bottom: 16px;
}

.row {
	margin: 0 0 32px;
}

.table-input {
	text-align: left;
	font-size: 15px;
	margin-left: -23px;
}

.table-input-header-row {
	width: 100%;
	display: table;
}

.table-input-header-cell {
	background-color: #f2f3f5;
    border: 1px solid #dcdee2;
    border-width: 1px 0;
    color: #6b6e72;
    font-weight: 600;
    padding: 12px;
}

.table-input-header-cell, .table-input-body-cell {
	    width:50%;
}

.table-input-cell {
	display: table-cell;
}

.table-input-container{
	overflow: auto;
	height: 275px;
	-webkit-overflow-scrolling: touch;
}

.table-input-body {
	width: 100%;
	display: table;
}

.table-input-body-row {
	display: table-row;
}

.table-input-cell-validation {
	min-width: 23px;
}

.table-input-body-cell {
    border-bottom: 1px solid #dcdee2;
}

.form-cell-input {
    border: 1px solid transparent;
    margin: 0 0 -1px;
    transition: 75ms ease-in-out;
    transition-property: background,border-color,color;
	cursor: pointer;
}

/*
TODO trigger a new div with this styling on focus. 
.form-cell-input:focus{
	border-bottom-color: #2f75c1;
}
*/

.table-input-body-cell input {
	width: 100%;
	padding: 16px 12px;
	font-weight: 400;
	border: none;
}

* {
	margin: 0;
	padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.field {
	margin: 0 0 12px;
    position: relative;
    text-align: left;
}

.legal-field {
	font-size: 13px;
    line-height: 1.5;
}

.thunder {
	color: #6b6e72;
	font-weight: 100;
}

.Button-ready {
	
	display:block;
	background: #2f75c1;
    color: #fff;
    letter-spacing: .01em;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 20px;
    text-align: center;
    transition: 75ms ease-in-out;
    transition-property: background,border-color,color,opacity;
	
	margin-left: auto;
	margin-right: auto;
	
}

.Button-not-ready {
	display:block;
	background: red;
    color: #fff;
    letter-spacing: .01em;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 20px;
    text-align: center;
    transition: 75ms ease-in-out;
    transition-property: background,border-color,color,opacity;
	
	margin-left: auto;
	margin-right: auto;

}

label.error {
	color: #C63442;
	font-weight: 800;
}

.submit-errors {
	display: none;
}

.submit-errors a {
	background-color: #C63442;

}