
body#enroll_success{
	text-align: center;
	color: #4a4a4a;
}

div.sidebar.enroll_suc {
	height: 1101px;
}

/*mobile*/
@media (max-width: 568px) {

	div.my-container {
		width: 85%;
		margin-left: auto;
		margin-right: auto;

	}

	.enroll_success p {
		width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	}

}

.my-text {
	margin-top: 2em;

}

.my-text h2, .my-text h3, .enroll_success p {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*desktop*/
@media (min-width: 568px) {

	body#enroll_success{
		text-align: left;
	}

	.my-text {
		margin-top: 4em;
	}


}

.enroll_success h2 {
	font-size: 36px;
	font-family: 'Karla';
	color: #ed7844;
	margin-bottom: 0px;
}

.enroll_success h3 {
	font-family: 'Karla';
	color: #4a4a4a;
}

@media (min-width: 568px) {

	.enroll_success h2 {
		font-size: 36px;
		font-family: 'Karla';
		color: #ed7844;
		margin-bottom: 0px;

	}

	.enroll_success h3 {
		margin-top: 10px;
		font-size: 29px;
	}

	.enroll_success h4 {
		font-size: 22px;
		font-weight: 100;
	}

	.enroll_success p {
		margin-top: 1em;
		font-size: 16px;
	}

}


img.family-img {
	display: block;
	margin-left: auto;
	max-width:28em;
	max-height:24em;
	width: auto;
	height: auto;

}

@media (min-width: 768px) {

	.my-text {
		padding-left: 20px;
	}

}


a.enroll_success {
	    text-decoration: none;
	    color: #ed7844;
}


@media (min-width: 568px) {
	div.enroll_suc.sidebar {
		height: 847px;
	}
}
@media (min-width: 1026px) {
	div.enroll_suc.sidebar {
		height: 800px;
	}
}



@media (min-width: 1160px) {
	div.enroll_suc.sidebar {
		height: 600px;
	}
}

@media (min-width: 1280px) {
	div.enroll_suc.sidebar {
		height: 750px;
	}
}


@media (min-width: 1564px) {
	div.enroll_suc.sidebar {
		height: 850px;
	}
}


