.sidebar {
	height: 730px;
}

.flyer-image {
	display: block;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em
}

button {
	margin-bottom: 2.5em
}

a {
	text-decoration: none;
	color: white;
}