.sidebar {
	height: 730px;
}

.flyer-image {
	display: block;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 0 1px 3px rgba(0,0,0,.25);*/
    margin-bottom: 30px;   
}

.english {
  border-right: 1px solid #aaaaaa;
}

.english .flyer-image {

}

.spanish .flyer-image {

}

button {
	margin-bottom: 2.5em
}

a {
	text-decoration: none;
	color: white;
}