 .body{
 	display: block;
 	margin-left: 15%;
 	margin-right: 15%;

 }
 .st-banner {
 	width: 80%;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: -3em;
 }

 span {
 	font-weight: 800;
 	font-size: 1.3em;
 	color: #ed7844;

 }

 body {
 	font-family: "Karla";
 	line-height: 1.2em;
 }

 a {
 	 color: #ed7844;

 }

