body {
	background-image: url('../images/StoryTime_Landing_Page_Laptop_Viewport.gif');
	background-size: cover;
    background-attachment: fixed;
	margin: 0px;
}

img {
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    }

h4 {
	color: #ee7744;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
   text-align: center;
   font-size: 200%;
}