/*@media screen and (max-width: 48em) {

}*/


body {
	background-image: url('../images/modules/background_mobile.png');
	height: 100%;
	width: 100%;
    background-attachment: fixed;
    overflow: hidden;
	
	font-family: 'Nunito', sans-serif;

}

.overlap {
	display: block;
}

.grass {
	overflow: hidden;
	position: relative;
	margin-top: -7em;
}
.grass img {
	/* the actual width of the image */
	width: 1484px; 
	position: relative;
	left: 50%;
	margin-left: -700px;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center; 
}

.main {
	display: table;
	/* make height 60-70%, making room for full-width div for grass at the bottom*/

	height: 100%;
	width: 100%;
}

/* what should the display type be for the h1, h2, p tags? block? table-cell?*/
.column {
	height: 100%;
	display: table-cell;
	vertical-align: bottom;
}

.text {
	width: 30em;
}



/*when the image doesn't scale it extends the width of the divs beyond the viewport*/


@media screen and (max-width: 48em) {
	html, body {
		background-image: url('../images/modules/background_mobile2.png');
	}

	.column {
		display: table-row; 
	}	
	.text {
		height: 33%;
	}
	img {
		width: 100%;
		max-width: 591px;
	}

	.grass {
		display: none; 

	}

	.txt_inner {

		/* TEMPORARY SOLUTION. Next step: vertically align */ 
		padding-top: 3em;
	}

}






