 @media screen and (orientation: portrait) and (max-width: 500px) {
	body {
		background-image: url('../images/StoryTime_background_iphone5_tall.png');
		background-size: cover;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
		margin: 0px;
	}
}

@media screen and (min-width: 500px) {
	body {
		background-image: url('../images/ST_tablet.gif');
		background-size: cover;
	    background-attachment: fixed;
		margin: 0px;
	}
}

@media screen and (min-width: 600px) {
	body {
		background-image: url('../images/Landing_Page_Laptop_Viewport_Names_Short.gif');
	}
}

/*#learn {
	width: 27%;
	position: absolute;
	margin-left: 20%;
	margin-top: 20%;
}*/

img {
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    }

h4 {
	color: #ee7744;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
   text-align: center;
   font-size: 200%;
}