/***** Mobile! ******/

body {
	font-family: 'Karla', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/** Navbar **/
.navbar {
	min-height: 100px;
}

button#top-button {
	background-color: #ed7844;
	font-family: 'Karla', sans-serif;
}

button.signup-button {
	font-weight: 900;
    font-size: 16px;
    padding: 12px 12px 8px;
    text-transform: uppercase;

}

.navbar-logo {
	background-image: url("https://st-webpage.s3.amazonaws.com/assets/st-fb-logo.jpg");
	background-size: 47px 41px;
	background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 110px;
    width: 88px;
}

.navbar li {
	padding-top: 40.5px;
    padding-bottom: 40.5px;
    float: left;
    margin-left: 30px;
    font-size: 1.25em;
    color: #ed7844;

}

.nav > li {
	position: relative; 
    display: block; 
}

.navbar-right li a {
	text-decoration: none;
	color: #ed7844;

}

.navbar-right { 
	float: right !important;
	list-style: none;
	display: none;

 }


/* Splash */

#splash {
	padding-top: 1em;
    text-align: left;
    height: 36em;
}



#logo-new {
	width: 13em;
/*	width: 280px;
*/    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;

}

h1#main-tagline {
	font-size: 30px;
	color: #3B3F44;
	margin-top: 10px;
	margin-bottom: 0px;
}

h1.storytime-tagline {
	text-align: center;
	line-height: 1.3em;
	font-family: 'Karla';
}

h1#sub-tagline {
	font-size: 22px;
	margin-top: 10px;
    margin-bottom: 40px;
   	font-weight: 100;
}

h1 br.subheading-br {
	display: inline-block;
}	


.contact-image {
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#email-image {
	margin-bottom: 30px;
}


img#background-phone.hero-animation {
    width: 370px;
}

img#background-phone.hero-animation, #my-video {
	display: none;
	position: absolute;
}

#my-video {
    width: 240px;
    margin-left: 63px;
    margin-top: 100px;
    z-index: 800;
}


img#gif-animation.hero-animation {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#splash .animation {
	display: inline-block;
}

#splash .animation img {
	margin-left: auto;
}

#start-modal-button {
	font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 30px;
    background-color: #ed7844;
    font-family: 'Karla', sans-serif;

	margin-bottom: 30px;
}

a button#start-modal-button:hover {
	text-decoration: none;
}

a button#start-modal-button:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: none;

}


/*Modal*/
.modal-subheading-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 313px;
}

h3.modal-subheading {
	font-weight: 100;
	text-align: left;
}
.field .input {
	margin: 0 0 8px;
}

.field {
	display: inline-block;
	margin: 0 0 12px;
    position: relative;
    text-align: left;
    margin-left: 134px
}

.input {
	transition: 75ms ease-in-out;
    transition-property: background,border-color,box-shadow,color;
    background: #fff;
    border: 1px solid #c5c7cb;
    border-radius: 3px;
    width: 100%;
    color: #282c31;
    font-family: 'Karla',sans-serif;
    font-size: 14px;
    padding: 12px;
    line-height: normal;
}
						

h2.modal-signup-heading{
	font-size: 26px;
	text-align: center;
	color: #4a4a4a;
	font-family: 'Karla';
}

div#modal-logo {
	float: none;
	height: 72px;
	width: 100%;
}

div#signup-field {
	margin-left: 6%;
	width: 185px;
    margin-top: 13px;
}		

button#join.dialog-button {
	margin-bottom: 15px;
	font-size: 17px;
	display: inline-block;
	padding: 11px; 
/*	padding-top: 10px;
*/	/*match other*/
	margin-left: 2px;
	margin-top: 12px;
	font-weight: 100;
	background-color: #ed7844;
}
/*END SIGNUP MODAL*/

/*DEMO Modal*/

.field.demo-field {
	margin-left: 0px;
	width: 177px;
}

.demo-modal.modal-subheading {
	text-align: center;
}

button#join.demo-form-button{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

/*End Demo Modal*/



/*BELOW THE FOLD*/


h1#main-banner {
	padding-top: 13.5em;
	color: rgba(255,255,254,1);
/*	font-size: 3em;
*/}

.girl_reading {
	width: 325px;
}

/*curriculum*/
.the-product .phone img {
	width: 65%;

}

.the-problem .text h2, .the-product .text h2, .join-us .text h2, h2 {
	color: #4a4a4a;
}


h1#call-to-action {
	padding-top: 1em;
}

h3.call-to-action-text {
	text-align: center;
	margin-top: 3em;
	font-weight: 100;
	margin-left: 20px;
	margin-right: 20px;

}

h1.banner#call-to-action{
	font-size: 21px;
	margin-bottom: 1em;
}

button#start-modal-button.demo-request-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

@media (min-width: 450px) {
	#logo-new {
/*		width: 310px;
*/
		width: 14em;

	}

	h1#main-tagline {
		font-size: 32px;
	}

	h1#sub-tagline {
		font-size: 24px;
	}

	h1 br.subheading-br {
		display: none;
	}	

	h1#main-banner {
	padding-top: 13em;
	}

	.field.demo-field {
		width: 230px;
	}

}

/***** Portrait mode, small tablet ******/
@media (min-width: 568px) {
	
	.navbar-right{
		display: block;
		margin-right: 20px;
    	margin-bottom: 6px;
	}

	#splash {
		padding-top: 3em;
	}

	#splash .animation img {
		margin-top: 2em;
	}

	.navbar-right {
		display: none;
	}

	h1#main-banner {
		padding-top: 14em;
		color: #4a4a4a;
		/*	font-size: 3em;
	*/}


	.the-product .phone img {
		width: 100%;
		max-width: 370px;
	}


}	


@media (min-width: 520px) {
	div#signup-field {
		margin-left: 18%;
		width: 250px;

	}
	
	button#join.dialog-button.signup-form-button {
		margin-top: 13px;
		margin-left: 10px;

	}


}


@media (min-width: 666px) {

	#logo-new {
/*		width: 330px;
*/		width: 16em;

	}


	h1#main-tagline {
		font-size: 34px;
	}

	h1#sub-tagline {
		font-size: 26px;
	}


}

/***** Large tablet ******/
@media (min-width: 768px) {

	.navbar-right {
		display: block;
	}

	.container {
	    width: 750px;
	}
	
	h1#main-tagline {
	   font-size: 35px;
	}

	h1#sub-tagline {
	    font-size: 27px;
	}

	a button#start-modal-button {
		display: inline-block;
	}

/*#1d9ffc*/

	a button#start-modal-button.inline-button-right {
		margin-left: 7px;
	}

	.contact-image {
		margin-left: 0px;
		height: 50px;
	}

	img#background-phone.hero-animation, #my-video {
		display: inline-block;
	}

	img#gif-animation.hero-animation {
		display: none;
	}

	#splash h1.storytime-tagline{
		text-align: left;
	}

	div.splash-text {
		z-index: 10;
	}

	#logo-new {
		width: 18em;

/*		width: 345px;
*/		z-index: 801;
		margin-left: 0px;
/* Undo until get the pencil image*/
/*		margin-left: -21px; 
*/		margin-top: 7em;
	}

	#start-modal-button {
		margin-left: 0px;
	}
	
	h1#main-banner {
		padding-top: 6.5em;
	}

	.call-to-action-image {
		margin-left: auto;
		margin-right: auto;
	}

	img#email-image.call-to-action-email-image {
		margin-bottom: 50px;
	}

	h1.banner#call-to-action{
		font-size: 26px;
	}


}	

@media (min-width: 820px) {
	h1#main-tagline {
	   font-size: 38px;
	}

	h1#sub-tagline {
	    font-size: 28px;
	}

	#logo-new {
/*		width: 370px;
*/
		width: 20em;

	}
}


/***** Smaller desktop screen ******/
@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}	


/***** Small (std) desktop screen ******/
@media (min-width: 1026px) {

	img#background-phone.hero-animation {
		margin-left: 115px;
	}

	video#my-video {
		margin-left: 177px;
	}

}


/***** Large desktop screen ******/
@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}

	img#background-phone.hero-animation {
		margin-left: 135px;
	}

	video#my-video {
		margin-left: 200px;
	}


}	

