<div class="pure-g welcome">
    <div class="pure-u-sm-1-3 pure-u-1">

        <img class="apple" id="schoolhouse" src="/images/schoolhouse-icon.png" alt="">
        <h3 class="apple">School Totals</h3>

    </div>


      <div class="pure-u-sm-1-3 pure-u-1 paper-plane">
        <div class="stats-wrapper">
          <div class="stats total" style="text-align: center;">
            <% weekly_books = teachers.inject(0) {|sum, teacher| sum += teacher['this_month'] } %>
            <h1><%= weekly_books > 0 ? weekly_books : '-' %></h1>
            <p>Books</p>
            <small style="font-size: 1.23em; color: black;"><i>read this month</i></small>
          </div>
        </div>
      </div>
      <div class="pure-u-sm-1-3 pure-u-1 paper-plane">

        <div class="stats-wrapper" style="text-align: left;">
          <div class="stats total">
            <% reading_time = teachers.inject(0) {|sum, teacher| sum += teacher['reading_time'] } %>
            <h1><%= reading_time > 0 ? reading_time : '-' %></h1>
            <p>Minutes</p>
            <small style="font-size: 1.23em; color: black;"><i>spent reading</i></small>
          </div>
        </div>
      </div>

</div> <%# end pure-g welcome %>