/**
 * _invite-teacher-modal.scss
 *
 * Styling for the "Invite teacher" modal on the admin dashboard.
 */



/* INVITE TEACHERS BY EMAIL modal */

#get-dat-app-link {
  display: none;

  @include desktop {
    display: inline-block; 
  }
}



#inviteTeachersModal .modal-body {
  overflow-y: auto;
}

.teacher-modal-btn {
  cursor: pointer; cursor: hand;
  display: inline-block;
}

.teacher-modal-btn img {
  opacity: .7;
  filter: alpha(opacity=70); /* For IE8 and earlier */

}

.teacher-modal-btn:hover img {
  opacity: 1;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  transition-duration: 400ms;
}

#inviteTeachersModal .modal-content {
  height: 85vh;
  width: 55vw;
  margin: 0 auto;


  @include tablet-medium {
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
  }
  /*margin-left: 8vw;*/
}

#inviteTeachersModal .table-input-container {
  height: 11.5em;
}

#inviteTeachersModal .row-small {
  height: 17em;
}

/* END INVITE TEACHERS BY EMAIL modal */