<form id='first-signup-form' action="/auth/freemium-signup-register" method="post" style="display: none;">
  
</form>


<form id='main-signup-form' action="/auth/freemium-signup" method="post" style="display: none;">
  
</form>
