    <!-- Modal TeacherName -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
<div class="modal fade" id="signupNamePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 35em;">
    <div class="modal-content" style="height: 100%; margin-top: 20%;  ">
      <!-- <div class="modal-header" data-dismiss="modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="navbar-logo" id="modal-logo"></div>
      </div> -->
      <div class="modal-body">
          
            <h2 class="modal-signup-heading name-heading" style="margin-bottom: 1.2em">Enter your name and password</h2>

            <form id='signup-name-password' class="signup-form" action='/auth/freemium-signup-register' method="post"> 
              <!-- <form id='login'> -->
                <div class="signup-setup">
                  <div class="field" id="signup-field">
                      <input name="first_name" autocomplete="off" placeholder="First name" class="input" required>
                      <input name="last_name" autocomplete="off" placeholder="Last name" class="input" required>
                      <input name="password" autocomplete="off" placeholder="Password" type="password" class="input" required>
                  </div>
                  <button id="signup-name-password-button" data-dismiss='modal' class="signup-form-button pure-button pure-button-primary get_update dialog-button">Complete sign up</button>

               </div>

              <script>
              </script>

            </form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Teachername-->