<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />
		<script type="text/javascript" src="/js/analytics.js"></script>
	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			
			
			<span>About the role:</span>
			<p>
			This summer, we’re looking for a child development researcher or student to join our founding team of five Yalies. You'd lead the design of our curriculum and product. That would involve:
			</p>
			<ul>
				<li> working with families in-person to learn how they use StoryTime and how our curriculum could be more effective</li>
				<li> reading widely on other child development interventions and research to develop new curricula</li>
				<li>running informal trials with enrolled parents to test new curricula</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We’re looking for someone who wants creative freedom to make child development research actually work for low-income families. The position is paid, and we'll be working out of the Yale Entrepreneurial Institute in New Haven, CT.			</p>

			<p>
			If you might be interested, just send us a resume or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>
	</body>
</html>