<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />
		<script type="text/javascript" src="/js/analytics.js"></script>
	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			<span>About the company:</span>
			<p>
			StoryTime sends free stories by text message and messaging apps to families without books— including the billion families without Internet, but with phones. It’s 300 times cheaper than just shipping paperbacks and has increased nightly reading by 160%. As part of a U.S. Department of Education grant, we’re piloting now with thousands of families from the YMCA and U.S. Head Start program.
 <a href="http://www.joinstorytime.com/">www.joinstorytime.com</a> 
			</p>
			<br>

			</p> 
			<span>About the role:</span>
			<p>
			This summer, we’re looking for someone to join our founding team of four Yalies and lead design. You’d lead our creative team of illustrators to get stories to thousands of families without any. That would involve: 
			</p>
			<ul>
				<li>mocking-up new features and curricula</li>	
				<li>directing our illustrations and visual stories</li>				
				<li>leading visual design of StoryTime brand material</li>
				<li>sharing design feedback with our creative team</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We’re looking for a designer who wants impact children's lives through storytelling. The position is paid and based out of Yale, but could work part-time remote.    
			</p>

			<p>
			If you might be interested, just send us a resume or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>
	</body>
</html>