<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />

	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			

			<span>About the role:</span>
			<p>
			This summer, we’re looking for a developer to join our team from Yale CS. You'd help scale our backend to work with families across four states. That'd also include:
			</p>
			<ul>
				<li>integrating with schools so teachers can choose stories for their class</li>
				<li> automating feedback over voice and SMS surveys to learn fast</li>
				<li>personalizing our curriculum to each child's skill level to maximize development gains</li>
				<li>iterating product with a team of friends who prefer working together over specializing deeply</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We primarily use Ruby, but it's okay if you haven't. The position is paid, and we'll be working out of the Yale Entrepreneurial Institute in New Haven, CT.	We’re looking for someone who wants to use tech to change the odds for low-income kids everywhere and to get to know those in our partner schools. </p>

			<p>
			If you might be interested, just send us a resume + github or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>	</body>
</html>