<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />
		<script type="text/javascript" src="/js/analytics.js"></script>
	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			

			<span>About the role:</span>
			<p> We're hiring a children's illustrator (<span>part-time, remote's fine</span>) for commissioned work throughout the summer. That would involve:</p>
			<ul>
				<li>Illustrating bedtime stories for tens of thousands of children without any.</li>
				<li>Using art as the easiest way for families to get talking and strengthen relationships.</li>
				<li>Massively expanding your portfolio.</li>
				<li>Hearing immediate feedback from families.</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We're looking for an artist who wants to impact children's lives through storytelling. The position is, of course, paid.
			</p>

			<p>
			If you might be interested, just send us a portfolio to <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>	</body>
</html>