<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />

	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			
			<span>About the role:</span>
			<p>
			This summer, we’re recruiting for an education director with experience in early childhood to join our founding team out of Yale.  You’d lead and grow our pilots across four states. That would involve:
			</p>
			<ul>
					<li>leading our relationships Head Start districts, government clients, and foundation partners</li>
					<li> meeting with district and government officials to recruit them to pilot with StoryTime</li>
					<li>developing and executing our strategy to bring StoryTime to families across the country</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We’re looking for someone with experience in Head Start who wants to close the word-gap for families across the US. We'll be working out of the Yale Entrepreneurial Institute in New Haven, CT.
			</p>

			<p>
			If you might be interested, just send us a resume or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>
	</body>
</html>