<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/jobs.css" type="text/css" />

	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			
			<span>About the role:</span>
			<p>
				This summer, we're looking for an ed student to join our team of Yalies and lead our school services. You'd coordinate our pilots with partner Head Start preschools. That would involve:

			</p>
			<ul>
					<li>leading our relationships with a group of Head Start preschools so we successfully bring StoryTime to their families</li>
					<li> working directly with teachers and families so they succeed on StoryTime</li>
					<li> designing strategies to best recruit, rollout with, and retain partner schools</li>
					<li>meeting with school districts to scale our impact to tens of thousands of families.</li>
			</ul>
			<br>

			<span>More info:</span>
			<p>
				We're looking for someone who wants to close the word-gap for families everywhere and actually get to know those right here in Greater New Haven. The position is paid, and we'll be working out of the Yale Entrepreneurial Institute in New Haven, CT.

				If you might be interested, just send us a resume or a few sentences about your past work at phil@joinstorytime.com.
			</p>

			<p>
			If you might be interested, just send us a resume or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>
	</body>
</html>