<html>
	<head>
		<meta charset="UTF-8">
		
		<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/jobs.css" type="text/css" />
		<script type="text/javascript" src="/js/analytics.js"></script>
	</head>	
	<body style="display:block">
​		<br>
		<br>

			<img class="st-banner" src="/images/Recruitment_Image.jpeg">
			<br>

		<div class="body" style=" font-size: 1em">
			
			
			<span>About the role:</span>
			<p>
			This summer, we’re looking for someone to join our founding team of four Yalies and lead product. You’d direct our design and development so thousands of enrolled families get stories and get talking face-to-face. That would involve: 
			</p>
			<ul>
				<li> talking with families to deeply empathize with their needs and learn how they use StoryTime</li>
				<li> reading on child development to develop new features</li>
				<li>mocking-up and prototyping new features</li>
				<li>running trials to improve StoryTime from data and feedback</li>
			</ul>
			<br>
			
			<span>About you:</span>
			<p>
			Ideally, we’re looking for a few things:
			</p>
			<ul>
				<li> An obsession for making an effective program that parents love.</li>
				<li> An excellent product sense and design skills.</li>
				<li>Experience guiding products from idea through testing.</li>
			</ul>

			<br>

			<span>More info:</span>
			<p>
				We’re looking for someone who wants creative freedom to make child development research actually work for low-income families. The position is paid, and we'll be working out of the Yale Entrepreneurial Institute in New Haven, CT.			</p>

			<p>
			If you might be interested, just send us a resume or a few sentences about your past work at <a href="mailto:phil@joinstorytime.com">phil@joinstorytime.com.</a></p>
			<br>
		</div>
	</body>
</html>