<style>
  #state {
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 0.5em;
  }

  #page4-find-school input[name=school_name] {
    background: url(images/icons/magnifying-glass.png) no-repeat scroll 7px 7px;
    padding-left: 45px;
    background-size: 30px;
  }

  ul.ui-autocomplete.ui-menu { 
    overflow-y: scroll;
    max-height: 250px;
    overflow-x: hidden;
  }

  ul.ui-autocomplete.ui-menu li {
    max-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: black;

  }

  ul.ui-autocomplete.ui-menu li a {
    /*border-bottom: none;*/
    line-height: 23px;
    display: block;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul.ui-autocomplete.ui-menu li a:hover {
    color: white !important;
  }

  ul.ui-autocomplete.ui-menu li a span{
    margin-top: -30px;
    font-size: 12px;
  }



</style>

      <div data-role="page" class="wrapper" id="page4-find-school">
        <%= erb :'components/navbar' %>
     
        <div data-role="main" class="body invite-teacher">

          <div class="container" style="padding-top:0em;">
            <div class="content-wrapper">
            
                <h2 class="modal-signup-heading" id="modal-signup-heading">Add your school</h2>
                <!-- <h3 class="modal-signup-heading">to add your class</h3> -->

                <form id="school-info" class="signup-form"> 
                  <div class="signup-setup">
                      <div class="field" id="signup-field">
                         <label class="label">School</label>
                        <input name="school_name" autocomplete="off" placeholder="Search for a school" class="input" required>
                      </div>
                  </div>

                  <!-- create the dropdown menu here -->
                  <div class="dropdown-menu" style="display: none;">
                    <div id="just-to-append">
                      <div id="status-text">
                        <p><i>Suggested schools for you</i></p>
                      </div>
                    </div>

                    <div id="add-your-school-link">
                      <p>Can't find your school? <a id="page4link-add-school" href="#page6-school-info" data-transition="fade">Add one now.</a></p>
                    </div>
                  </div>


                      <label class="label">Grade level</label>
                      <select class="form-control" id="classroom_grade" name="classroom_grade" required>
                        <option value="">Select your grade</option>
                        <option value="-3">Infant</option>
                        <option value="-2">Toddler</option>
                        <option value="-1">Preschool</option>
                        <option value="0">Kindergarten</option>
                        <option value="1">1st Grade</option>
                        <option value="2">2nd Grade</option>
                        <option value="3">3rd Grade</option>
                        <option value="4">4th Grade</option>
                        <option value="5">5th Grade</option>
                        <option value="6">6th Grade</option>
                        <option value="7">7th Grade or above</option>

                      </select>

                  <input type="hidden" name="school_id" value="">
                  <input type="hidden" name="school_name" value="">
                  <input type="hidden" name="school_city" value="">
                  <input type="hidden" name="school_state" value="">
                  <input type="hidden" name="role" value="">
                  <input type="hidden" name="signature" value="">

                  <a id="page4link" class="transition-link ui-btn web-mobile-signup-button" href="#" data-transition="fade">
                    Continue
                  </a>
        
                  <script>
                    var last_selected = '';

                    $(function() {  

                      var availableSchools = [];
                        
                        $( "#page4-find-school input[name=school_name]" ).autocomplete({
                          source: '/auth/list-of-schools',
                          minLength: 2,
                          appendTo: "#just-to-append",
                          position: { my: "left top", at: "left bottom", of: "#status-text" },
                          response: function(event, ui) {
                            var len = ui.content.length;

                            if (len >= 1) {
                              console.log('some results!');
                              $('#status-text p i').text('Suggested schools for you');
                            } else {

                              $('#status-text p i').text('No results found.');
                            }
                            // return false;
                          },
                          focus: function(event, ui) {
                            $('#page4-find-school input[name=school_name]').val(ui.item.label);
                            if (isMobileDevice()){
                              $('#page4-find-school input[name=school_name]').blur();
                              last_selected = ui.item.label;

                              $('#page4-find-school input[name=school_id]').val(ui.item.value);

                              $('#page4-find-school input[name=school_name]').val(ui.item.label);

                              $('#page4-find-school input[name=school_city]').val(ui.item.city);

                              $('#page4-find-school input[name=school_state]').val(ui.item.state); 

                              $("#page4-find-school input[name=school_name]").autocomplete('close');

                            }
                            return false;
                          },
                          select: function(event, ui) {
                            $('#page4-find-school input[name=school_name]').blur();
                            last_selected = ui.item.label;

                            $('#page4-find-school input[name=school_id]').val(ui.item.value);

                            $('#page4-find-school input[name=school_name]').val(ui.item.label);

                            $('#page4-find-school input[name=school_city]').val(ui.item.city);

                            $('#page4-find-school input[name=school_state]').val(ui.item.state); 

                            $("#page4-find-school input[name=school_name]").autocomplete('close');
                            
                            return false;
                          }
                        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                          return $( "<li>", {
                              class: 'school-selector',
                              click: function(event) {
                                  $('#page4-find-school input[name=school_name]').blur();
                              }
                           })
                           .append( "<a>" + item.label + "<br><span class='city'>" + item.desc + "</span></a>" )
                           .appendTo( ul );
                        };
                      });
                    // });

                      
                    $('#page4-find-school input[name=school_name]').click(function() {
                      $('.dropdown-menu').css('display', 'block');
                    });

                    $('#page4link-add-school').on('mousedown', function(event) {
                      // event.stopImmediatePropagation();
                      event.preventDefault(); 
                    });
                    

                    $('#page4-find-school input[name=school_name]').blur(function() {
                      // check to see if we selected something nice
                      var input_val = $('#page4-find-school input[name=school_name]').val();
                      
                      $('#page4-find-school input[name=school_name]').val(last_selected);
                      $("#page4-find-school input[name=school_name]").autocomplete('close');
                      $('.dropdown-menu').css('display', 'none');
                    });

                    $('#page4-find-school select[name=classroom_grade]').change(function(event){
                      // get the grade
                      var grade = $('#page4-find-school select[name=classroom_grade]').val();
                      grade = parseInt(grade); 

                    if (grade <= 0) {
                      if(isMobileDevice()){
                        $('#page4link').attr('href', '#page7');
                      } else {
                        $('#page4link').attr('href', '#');
                        // we're going to go to the dashboard.
                      }
                    } else {
                      $('#page4link').attr('href', '#page8-go-to-dashboard');
                      // change the page5 text maybe?
                      // or maybe just have a separated page with that text
                    }

                      // check which one

                      // change link based on that

                    });


                    $(document).on('click', '#page4-find-school #page4link',function(event){
                      var ValidStatus = $("#page4-find-school #school-info").valid();
                      // console.log(ValidStatus);
                      if (ValidStatus == false) {
                          event.preventDefault();
                          event.stopPropagation();
                          mixpanel.track('invalid school info given');
                          return false;
                      }

                      var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                      $('#page4-find-school form#school-info').find('input[name=role]').val(role);

                      var sig = $('form#educator-signature-form').find('input[name=signature]').val();

                      $('#page4-find-school form#school-info').find('input[name=signature]').val(sig);    

                      // check if preschool or below
                      // if preschool, perform the regular action of logging in
                      // 
                      // if not, forward to page6 or whatever and change the text to say that we don't do older grades
                      // 


                      $.ajax({
                        url: 'freemium-signup',
                        type: 'post',
                        data: $('#page4-find-school form#school-info').serialize()
                      }).done(function(data, statusText, xhr) {
                          console.log(data);
                          console.log('statusText is:');
                          console.log(statusText);
                          console.log(xhr);

                          var grade = $('#page4-find-school select[name=classroom_grade]').val();
                          grade = parseInt(grade); 

                          // Allow up to (and including) 1st grade teachers!  
                          if (grade <= 1) {
                            $('#page6-school-info form#log-into-dat-account').submit();
                            // we're going to go to the dashboard.
                          }
                          // $('form#log-into-dat-account input[name=password]').val(data);
                      });

                      var formdata = $("#page4-find-school form#school-info").serializeArray();
                      console.log(formdata);
                      var data = {};
                      $(formdata).each(function(index, obj){
                          data[obj.name] = obj.value;
                      });
                      console.log(data);
                      mixpanel.people.set(data);
                      mixpanel.track('finished freemium signup');
                    });


                  </script>
                </form>

                <!-- submit form -->
                <form id='log-into-dat-account' action='/auth/signin' method='post' data-ajax="false" style="display: none;">
                  <input type="hidden" name='username' value='<%= session[:username] %>'>
                  <input type="hidden" name='signature' value=''>
                  <input type="hidden" name='password' value='<%= session[:password] %>'>
                  <input type="hidden" name='role' value=''>

                  <!-- HERE IS THE LOCUS OF PRODUCTION -->
 <!--                  <button id="go-to-dashboard" data-ajax="false" style="font-size: 1.2em;" type="submit">
                      Log in
                  </button> -->

                  <script>
                    $('#page4-find-school form#log-into-dat-account').on('submit', function(event) {
                      var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                      $('form#log-into-dat-account').find('input[name=role]').val(role);

                      var sig = $('form#educator-signature-form').find('input[name=signature]').val();

                      $('form#log-into-dat-account').find('input[name=signature]').val(sig);


                      // $('form#log-into-dat-account').submit();
                    });
                  </script>

                </form>
                <!-- submit form -->


              </div>
          </div> <%# container %>
        </div>
      </div>
      <!-- end Modal Signup-->