  <!-- navbar -->
  <div data-role="page" class="wrapper" id="page7" style="background: #f2f3f5;">
    <%= erb :'components/navbar' %>
      <div data-role="main" class="body" style="background: transparent;">
        <div class="container" style="background: transparent;">
          
          <div class="pure-g">
            <div class="pure-u-1 class-information password-text">
                 <h1 style="font-size: 1.7em; color:black"><%= header_app %></h1>
                <p><%= subtitle_app %></p> 
            </div>
            <a id="app-link" href="/app" style="width: 100%;" data-ajax="false">
                <img style="max-width: 100%;" src="https://s3.amazonaws.com/st-webpage/assets/redesign/storytime-app-button.png" alt="">
            </a>
          </div>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>

    
