<style>
     #monday {
            font-weight: normal;
            text-align: center;
            width: 80%;
            display: block;
            margin: 0 auto;
     }

     .wrapper {
        background: #3F3F5E;
     }
</style>

<div data-role="page" class="wrapper" id="page7-go-to-dashboard">
  <%= erb :'components/navbar' %>

        <div data-role="main" class="body invite-teacher pure-g">
          <div class="container">
            <div class="pure-u-1">
           
                <div id="monday">
                  <h1 style="margin-bottom: 0px;">Thanks!</h1>
                  <h2 style="margin-bottom:0.5em;margin-top:0.5em;font-family:'Karla';font-size:1em;font-weight:normal;line-height: 1.3em;" class="purple-subtitle">Right now, Storytime is only available for preschool. We'll email you when it's ready for your grade level!</h2>
                </div>

                <div id="app-icon">
                  <img src="https://s3.amazonaws.com/st-webpage/assets/logo/logo-large.png"  alt="">
                </div>


                <a id="backToHome" data-ajax="false" class="transition-link ui-btn web-mobile-signup-button" href="/" style="font-size: 1.2em;">
                    Back to HomePage
                </a>
               
            </div>
          </div>
        </div> <%# end pure-g %>

</div> <%# wrapper %>