  <div data-role="page" class="wrapper" id="page2-invite-teacher">
    <%= erb :'components/navbar' %>
      <div data-role="main" class="body invite-teacher" style="vertical-align: top;">
        <div class="container password">
          <div class="pure-g">
              <div class="pure-u-1 class-information invite-teacher">
                <h1>Invite your teacher</h1>
                <h3 class="purple-subtitle">It's simple and free.</h3>
              </div>
              <div class="pure-u-1 login-form">
                <form id="invite-teacher-form"> 
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                      <input name="teacher_email" placeholder="Teacher email address" class="input" required>
                      <input name="role" type="hidden" value="" required>
                    </div>
                    <!-- fades to page5: success -->
                     <a id="page2link" class="transition-link ui-btn web-mobile-signup-button" href="#">
                        <%= "Invite" %>
                     </a>

                    <script>

                      $(document).on('click', '#page2link',function(event){

                        var ValidStatus = $("#invite-teacher-form").valid();

                        if (ValidStatus == false) {
                            event.preventDefault();
                            event.stopPropagation();
                            mixpanel.track('invalid teacher email given'); 
                            return false;
                        }

                        $.ajax({
                          url: '/auth/freemium-signup', 
                          type: 'post',
                          data: $('#invite-teacher-form').serialize(),
                          statusCode: {
                              404: function() {
                                // window.location.href = "/app";
                              }
                            }
                        }).done(function(data, statusText, xhr) {
                          console.log(data);
                          console.log(statusText);
                          console.log(xhr);
                          // window.location.href = "/app";

                        });
                          
                        var formdata = $("form#invite-teacher-form").serializeArray();
                        var data = {};
                        $(formdata).each(function(index, obj){
                            data[obj.name] = obj.value;
                        });
                        console.log(data);
                        mixpanel.people.set(data);
                        mixpanel.track('finished freemium signup');

                        window.location = "/app";

                      });

                    </script>

                  </div>
                </form>
              </div>
          </div> <%# end pure-g %>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>