  <!-- navbar -->
      <div data-role="page" class="wrapper" id="page9-get-invites">
        <%= erb :'components/navbar' %>
     
        <div data-role="main" class="body invite-teacher">

          <div class="lalaContainer" style="margin: auto; margin-top:80px; background:white; border-radius:.5em; width:50%; text-align:center; padding:40px;">
          <div>
            <div class="content-wrapper">
            <div class="pure-u-1 class-information password-text">

                 <h1 style="font-size: 2em; color:black">Invite Parents!</h1>
                 <br/><br/>
                <img style="max-width: 100%;" src="/images/home.png" alt="">
                <br/><br/>
                <p>Parents support learning at home with free books.</p> 
                <p>We created invites for you </p>
            </div>

            <center><a class="transition-link ui-btn web-mobile-signup-button flyerModal" data-transition="fade" 
            style="width:50%;">
              Get Invites
            </a></center>


            <script>
              $(document).on('click', '.flyerModal', function(){
                $.ajax({
                  url: 'get-teacher-data',
                  type: 'get',
                  async: false,
                  success: function(result){
                    window.open(result, '_blank')
                  }
                });


              });

            </script>



              <center>
 
              </center>
          </div>
        </div>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>