<style>
  #state {
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 0.5em;
  }
</style>
      <!-- Modal Signup -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
      <div data-role="page" class="wrapper" id="page6-school-info">
        <%= erb :'components/navbar' %>
     
        <div data-role="main" class="body invite-teacher">

          <div class="container" style="padding-top:0em;">
              <h2 class="modal-signup-heading" id="modal-signup-heading">Add your school</h2>
              <!-- <h3 class="modal-signup-heading">to add your class</h3> -->

              <form id="school-info" class="signup-form"> 
                <div class="signup-setup">
                  <div class="field" id="signup-field">
                     <label class="label">School name</label>
                    <input name="school_name" autocomplete="off" placeholder="" class="input" required>
                      <label class="label">City</label>
                    <input name="school_city" autocomplete="off" placeholder="" class="input" required>
                    <label class="label">State</label>
                    <select class="form-control" id="state" name="school_state" required>
                        <option value="">Select your state</option>
                        <option value="International">International</option>
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                      </select>

                      <label class="label">Grade level</label>
                      <select class="form-control" id="classroom_grade" name="classroom_grade" required>
                        <option value="">Select your grade</option>
                        <option value="-3">Infant</option>
                        <option value="-2">Toddler</option>
                        <option value="-1">Preschool</option>
                        <option value="0">Kindergarten</option>
                        <option value="1">1st Grade</option>
                        <option value="2">2nd Grade</option>
                        <option value="3">3rd Grade</option>
                        <option value="4">4th Grade</option>
                        <option value="5">5th Grade</option>
                        <option value="6">6th Grade</option>
                        <option value="7">7th Grade or above</option>

                      </select>
                    </div>
                    <!-- <button id="join" data-dismiss='modal' data-toggle='modal' data-target="#modalSig"  class="signup-form-button pure-button pure-button-prry get_update dialog-button">Log in</button> -->
                </div>

                <input type="hidden" name="role" value="">
                <input type="hidden" name="signature" value="">

                <a id="page6link" class="transition-link ui-btn web-mobile-signup-button" href="#" data-transition="fade">
                  Continue
                </a>
                
                <script>

                  $('#page6-school-info select[name=classroom_grade]').change(function(event){
                    // get the grade
                    var grade = $('#page6-school-info select[name=classroom_grade]').val();
                    grade = parseInt(grade); 

                    // Allow up to (and including) 1st grade teachers!  
                    if (grade <= 1) {
                      if(isMobileDevice()){
                        $('#page4link').attr('href', '#page7');
                      } else {
                        $('#page4link').attr('href', '#');
                        // we're going to go to the dashboard.
                      }
                    } else {
                      $('#page4link').attr('href', '#page8-go-to-dashboard');
                      // change the page5 text maybe?
                      // or maybe just have a separated page with that text
                    }
                    // check which one
                    var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                    if (role == "parent") {
                      $('#page4link').attr('href', '#page2-invite-teacher');
                    }

                    // change link based on that

                  });

                  $(document).on('click', '#page6link',function(event){

                    var ValidStatus = $("#page6-school-info #school-info").valid();
                    
                    if (ValidStatus == false) {
                        event.preventDefault();
                        event.stopPropagation();
                        mixpanel.track('invalid school info given');
                        return false;
                    }

                    var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                    $('form#school-info').find('input[name=role]').val(role);

                    var sig = $('form#educator-signature-form').find('input[name=signature]').val();

                    $('form#school-info').find('input[name=signature]').val(sig);    

                    // $.post('/freemium-signup', $('form#school-info').serialize());

                    if (role != parent) {
                      $.ajax({
                        url: '/auth/freemium-signup',
                        type: 'post',
                        data: $('#page6-school-info form#school-info').serialize()
                      }).done(function(data, statusText, xhr) {
                          console.log(data);
                          console.log('statusText is:');
                          console.log(statusText);
                          console.log(xhr);

                          var grade = $('#page6-school-info select[name=classroom_grade]').val();
                          grade = parseInt(grade); 

                          if (grade <= 0) {
                            console.log('yup, gonna submit');
                            $('#page6-school-info form#log-into-dat-account').submit();
                            // we're going to go to the dashboard.
                          }


                          // $('form#log-into-dat-account input[name=password]').val(data);
                      });


                      var formdata = $("form#school-info").serializeArray();
                      var data = {};
                      $(formdata).each(function(index, obj){
                          data[obj.name] = obj.value;
                      });
                      console.log(data);
                      mixpanel.people.set(data);
                      mixpanel.track('finished freemium signup');
                    }


                  });

                </script>
              </form>

             <!-- submit form -->
             <form id='log-into-dat-account' action='/auth/signin' method='post' data-ajax="false" style="display: none;">
               <input type="hidden" name='username' value='<%= session[:username] %>'>
               <input type="hidden" name='signature' value=''>
               <input type="hidden" name='password' value='<%= session[:password] %>'>
               <input type="hidden" name='role' value=''>


               <script>
                 $('#page6-school-info form#log-into-dat-account').on('submit', function(event) {
                  console.log('submitting this form...');
                   var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                   $(this).find('input[name=role]').val(role);

                   var sig = $('form#educator-signature-form').find('input[name=signature]').val();

                   $(this).find('input[name=signature]').val(sig);

                   // $('form#log-into-dat-account').submit();
                 });
               </script>

             </form>
             <!-- submit form -->
          </div>
        </div>
      </div>
      <!-- end Modal Signup-->